<div class="container">
  <a href="/persons/create" class="btn btn-addnew">
    <i class="glyphicon glyphicon-plus"></i>
    <span>{{ '_new_person_' | translate }}</span>
  </a>
  <div class="well">
    <div class="row col-md-12">
      <div class="col-md-10">
        <h2>{{ '_people_list_' | translate }}</h2>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 pull-right" ng-if="identity.currentUser.isAdmin()">
        <input name="personsearch" type="text" ng-model="personsearch" placeholder="{{ '_search_' | translate }}" style="margin-top:25px;">
      </div>
    </div>
    <div class="table-reponsive"></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ '_name_' | translate }}</th>
          <th>{{ '_title_' | translate }}</th>
          <th>{{ '_person_telephone_' | translate }}</th>
          <th>{{ '_email_' | translate }}</th>
          <th>{{ '_company_' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in people | filter:personsearch | orderBy:pname">
          <td>{{person.pname}}</td>
          <td>{{person.title}}</td>
          <td>{{person.telephone}}</td>
          <td>{{person.email}}</td>
          <td>{{person.company.company_name}}</td>
          <td>
            <a href="/persons/{{person.id}}">{{'_edit_' | translate}}</a>
            &nbsp;|&nbsp;
            <a href="" ng-click="delete(person)">{{'_delete_' | translate}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>