<div class="container">
  <a href="/persons/create" class="btn btn-addnew">
    <i class="glyphicon glyphicon-plus"></i>
    <span translate>New Person</span>
  </a>
  <div class="well">
    <div class="row">
      <div class="col-md-10">
        <h2 translate="">People List</h2>
      </div>
    </div>
    <div class="table-reponsive"></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th translate="">Name</th>
          <th translate="">Title</th>
          <th translate="">Telephone</th>
          <th translate="">Email</th>
          <th translate="">Company</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in people | orderBy:pname">
          <td>{{person.pname}}</td>
          <td>{{person.title}}</td>
          <td>{{person.telephone}}</td>
          <td>{{person.email}}</td>
          <td>{{person.company.company_name}}</td>
          <td><a href="/persons/{{person.id}}" translate="">Edit</a>&nbsp;|&nbsp;<a href="" ng-click="delete(person)" translate="">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>