.container
    .well
        .row
            .col-md-10
                h2(translate="") People List
            .col-md-2.topspace
                a(href="/persons/create", translate="") New Person
        .table-reponsive
        table.table.table-striped
            thead
                tr
                    th(translate="") Name
                    th(translate="") Title
                    th(translate="") Telephone
                    th(translate="") Phone
                    th(translate="") Email
                    th(translate="") Company
                    th
            tbody 
                tr(ng-repeat="person in people | orderBy:pname")
                    td {{person.pname}}
                    td {{person.title}}
                    td {{person.telephone}}
                    td {{person.mobile}}
                    td {{person.email}}
                    td {{person.company}}
                    td
                        a(href="/persons/{{person.id}}", translate="") Edit
                        | &nbsp;|&nbsp;
                        a(href="", ng-click="delete(person)", translate="") Delete
