<div class="form-group required" show-errors>
  <label for="personname" class="col-md-2 control-label">{{ '_name_' | translate }}</label>
  <div class="col-md-10">
    <input name="personname" type="text" required="required" ng-model="$parent.person.pname" class="form-control"/>
    <p class="help-block" ng-if="personForm.personname.$error.required">{{ '_person_name_field_is_required_' | translate}}</p>
  </div>
</div>

<div class="form-group required" show-errors>
  <label for="persontitle" class="col-md-2 control-label">{{ '_title_' | translate }}</label>
  <div class="col-md-10">
    <input name="persontitle" type="text" required="required" ng-model="$parent.person.title" class="form-control"/>
    <p class="help-block" ng-if="personForm.persontitle.$error.required">{{ '_person_title_field_is_required_' | translate }}</p>
  </div>
</div>

<div class="form-group required" show-errors>
  <label for="persontelephone" class="col-md-2 control-label">{{ '_person_telephone_' | translate }}</label>
  <div class="col-md-10">
    <input name="persontelephone" required="required" ng-model="$parent.person.telephone" ng-pattern="/^([0-9\(\)\/\+ \-]*)$/" class="form-control"/>
    <p class="help-block" ng-if="personForm.persontelephone.$error.required">{{ '_person_telephone_field_is_required_' | translate }}</p>
    <p class="help-block" ng-if="personForm.persontelephone.$error.pattern">{{ '_person_telephone_field_is_not_number_' | translate }}</p>
  </div>
</div>

<div class="form-group">
  <label for="personstreet" class="col-md-2 control-label">{{ '_street_' | translate }}</label>
  <div class="col-md-10">
    <input name="personstreet" type="text" ng-model="$parent.person.street" class="form-control"/>
  </div>
</div>

<div class="form-group">
  <label for="personzipcode" class="col-md-2 control-label">{{ '_zipcode_' | translate }}</label>
  <div class="col-md-10">
    <input name="personzipcode" type="text" ng-model="$parent.person.zipcode" class="form-control"/>
  </div>
</div>

<div class="form-group">
  <label for="personcity" class="col-md-2 control-label">{{ '_city_' | translate }}</label>
  <div class="col-md-10">
    <input name="personcity" type="text" ng-model="$parent.person.city" class="form-control"/>
  </div>
</div>

<div class="form-group">
  <label for="personcountry" class="col-md-2 control-label">{{ '_country_' | translate }}</label>
  <div class="col-md-10">
    <input name="personcountry" type="text" ng-model="$parent.person.country" class="form-control"/>
  </div>
</div>

<div class="form-group required" show-errors>
  <label for="personemail" class="col-md-2 control-label">{{ '_email_' | translate }}</label>
  <div class="col-md-10">
    <input name="personemail" type="email" required="required" ng-model="$parent.person.email" class="form-control"/>
    <p class="help-block" ng-if="personForm.personemail.$error.required">{{ '_person_email_field_is_required_' | translate}}</p>
    <p class="help-block" ng-if="personForm.personemail.$error.email">{{ '_person_email_field_is_invalid_' | translate}}</p>
  </div>
</div>

<div class="form-group required" show-errors>
  <label for="personcompany" class="col-md-2 control-label">{{ '_company_' | translate }}</label>
  <div class="col-md-5">
    <input name="personcompany" readonly="readonly" type="text" ng-model="company.company_name" class="form-control"/>
    <input name="personcompanyid" type="text" ng-model="company.id" class="hidden form-control"/>
    <p class="help-block" ng-if="personForm.personcompany.$error.required">{{ '_person_company_field_is_required_' | translate}}</p>
  </div>
</div>