.container
    .well
        form.form-horizontal(name="registerForm")
            fieldset
                legend Register
                .form-group
                    label.col-md-2.control-label(for="username") E-Commerce Customer
                    .col-md-10
                        input.form-control(name="customer", type="text", disabled="disabled", placeholder="Customer email", ng-model="username", required)
                .form-group
                    label.col-md-2.control-label(for="companyname") Company Name
                    .col-md-10
                        input.form-control(name="companyname", type="text", placeholder="", ng-model="companyname", required)
                .form-group
                    label.col-md-2.control-label(for="companycode") Company Code
                    .col-md-10
                        input.form-control(name="companycode", type="text", placeholder="", ng-model="companycode", required)
                .form-group
                    label.col-md-2.control-label(for="companytype") Company Type
                    .col-md-10
                        input(type="radio", name="companytype", value="Avoin yhtio", ng-model="companytype")
                        span Tominimi
                        input(type="radio", name="companytype", value="2", ng-model="companytype")
                        span Avoin Yhtiö
                        input(type="radio", name="companytype", value="3", ng-model="companytype")
                        span Kommandiittiyhtiö
                        input(type="radio", name="companytype", value="4", ng-model="companytype")
                        span Osakeyhtiö
                        input(type="radio", name="companytype", value="5", ng-model="companytype")
                        span Osuuskunta
                        input(type="radio", name="companytype", value="6", ng-model="companytype")
                        span Oppilaitos
                .form-group
                    label.col-md-2.control-label(for="primarycustomer") Primary Customer
                    .col-md-10
                        input.form-control(name="primarycustomer", type="text", placeholder="", ng-model="primarycustomer")
            fieldset
                legend
                .form-group
                    label.col-md-2.control-label(for="companyname") Company Name
                    .col-md-10
                        input.form-control(name="companyname", type="text", placeholder="", ng-model="companyname", required)
                .form-group
                    label.col-md-2.control-label(for="companyaddress") Address
                    .col-md-10
                        input.form-control(name="companyaddress", type="text", placeholder="", ng-model="companyaddress", required)
                .form-group
                    label.col-md-2.control-label(for="postalcode") Postal Code
                    .col-md-10
                        input.form-control(name="postalcode", type="text", placeholder="", ng-model="postalcode", required)
                .form-group
                    label.col-md-2.control-label(for="city") City
                    .col-md-10
                        input.form-control(name="city", type="text", placeholder="", ng-model="city", required)
                .form-group
                    label.col-md-2.control-label(for="phonenumber1") Phone Number 1
                    .col-md-10
                        input.form-control(name="phonenumber1", type="text", placeholder="", ng-model="phonenumber1", required)
                .form-group
                    label.col-md-2.control-label(for="phonenumber2") Phone Number 2
                    .col-md-10
                        input.form-control(name="phonenumber2", type="text", placeholder="", ng-model="phonenumber2")
                .form-group
                    label.col-md-2.control-label(for="fax") Fax
                    .col-md-10
                        input.form-control(name="fax", type="text", placeholder="", ng-model="fax")
                .form-group
                    label.col-md-2.control-label(for="website") Website
                    .col-md-10
                        input.form-control(name="webste", type="text", placeholder="", ng-model="webste")
                .form-group
                    label.col-md-2.control-label(for="email") Email
                    .col-md-10
                        input.form-control(name="email", type="text", placeholder="", ng-model="email")
            fieldset
                legend Aukioloajat
                .form-group
                    label.col-md-2.control-label(for="monday") Monday
                    .col-md-6
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        span -
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        input(type="radio", value="")
                        span Kiini
                .form-group
                    label.col-md-2.control-label(for="tuesday") Tuesday
                    .col-md-6
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        span -
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        input(type="radio", value="")
                        span Kiini
                .form-group
                    label.col-md-2.control-label(for="monday") Wednesday
                    .col-md-6
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        span -
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        input(type="radio", value="")
                        span Kiini
                .form-group
                    label.col-md-2.control-label(for="tuesday") Thursday
                    .col-md-6
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        span -
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        input(type="radio", value="")
                        span Kiini
                .form-group
                    label.col-md-2.control-label(for="monday") Friday
                    .col-md-6
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        span -
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        input(type="radio", value="")
                        span Kiini
                .form-group
                    label.col-md-2.control-label(for="tuesday") Saturday
                    .col-md-6
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        span -
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        input(type="radio", value="")
                        span Kiini
                .form-group
                    label.col-md-2.control-label(for="monday") Sunday
                    .col-md-6
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        span -
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        input(type="radio", value="")
                        span Kiini
                .form-group
                    label.col-md-2.control-label(for="tuesday") Holiday
                    .col-md-6
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        span -
                        input(type="text", maxlength="2", size="4")
                        span :
                        input(type="text", maxlength="2", size="4")
                        input(type="radio", value="")
                        span Kiini
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="create()", ng-disabled="registerForm.$invalid") Submit
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel