body
    padding-top 111px

.container
    position relative

.navbar-inverse
    background-color #fff
    border-bottom 2px solid #95ba00

.navbar-nav
    padding-top 35px

.navbar-inverse .navbar-nav > li > a
    color #95ba00 !important
    text-transform uppercase

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > li > a:hover
    color #fff !important
    background-color #95ba00 !important

.navbar-inverse .dropdown-menu > li > a
    color #fff
    background-color #95ba00

.navbar-inverse .dropdown-menu > li > a:hover
    background-color #fff
    color #95ba00

.navbar-inverse .dropdown-menu 
    background-color #95ba00

.navbar-header a.navbar-brand
    margin-top -15px
    margin-bottom -20px
    h6
        color #ccc
.navbar-fixed-top
    min-height 111px

.navbar-top
    position absolute
    top 0
    right 0
    z-index 999
    height 50px
    li
        float left
        a
            color #000
            text-transform capitalize
        a:hover
            text-decoration underline
            background-color #fff

a.btn-navbar
    display none
    float right

.content
    margin-top 30px

.container .jumbotron
    background none

.btn
    padding: 6px 20px

.btn-info, .btn-primary
    background-color: #95ba00;
    border-color: #95ba00;
    border-radius: 5px;

.btn-default
    border-radius: 5px;

a.btn
    background-color #95ba00
    color #fff
    padding 10px 30px
    border-radius 5px
    -webkit-border-radius 5px
    -moz-border-radius 5px
    -o-border-radius 5px
    margin-bottom 20px

a.btn:hover
    background #5bc0de
    color #fff

.btn-submit
    vertical-align top
    padding 10px 25px

.btn-addnew
    color #fff
    background-color #95ba00
    padding 10px 25px
    border-radius 5px
    margin-bottom 20px

.btn-addnew:hover
    color #fff
    background-color #0079a1

span.glyphicon
    margin-right 5px;

.checkButton span
    color #fff
    border-radius 5px
    padding 10px 25px
    cursor pointer
    text-transform uppercase
    margin-right 10px
    margin-top 20px

.checkButton span.yes
    background-color: #95ba00

.checkButton span.no
    background-color #525252

.checkButton input 
    position absolute
    z-index -999


.navbar-form
    float right
    .form-group
        margin-left 10px
    button
        margin-left 10px

.toast-top-right
    top 70px

.toast-success
    background-color #95ba00

.topspace
    margin-top 30px

.choose_time table
    margin-left: 15px;
    input
        width: 60px !important;

hr
    border-color: #95ba00
    border-style: solid none
    border-width: 2px 0
    margin: 18px 0

.form-group.required .control-label:before
    content "*"
    color red

.add-zipcode-btn
    padding: 6px 12px
    width: 75px

ul.zipcode-list
    list-style: none
    padding: 0

li.zipcode-choice
    border 1px solid #aaaaaa
    border-radius 3px
    height 30px
    width 75px
    margin-bottom 10px
    margin-right 5px
    padding-top 4px
    text-align center
    color #6f6f6f
    float left
    a.zipcode-close
        color black
        margin-left 5px

/*------Front page------*/

.frontpage-content
    background url('../images/account_banner.jpg') top center no-repeat
    background-size cover
    min-height 650px


h1.frontpage-title
    text-transform uppercase
    margin-top -10px

ul.frontpage-links li
    color #95ba00
    list-style-type none

ul.frontpage-links li a 
    color #95ba00
    text-transform uppercase
    font-size 24px
    font-family Open Sans, sans-serif

ul.frontpage-links li a:hover
    text-decoration none
    color #006687

.jumbotron p 
    font-size 30px


/*----- Footer ------*/

.footer-top
    background-color #575757
    color #767b6f
    padding 40px 0

.footer-top h5
    color #fff
    text-transform uppercase

.footer-top a
    color #767b6f

.footer-top a:hover
    text-decoration underline

.footer-bottom
    background-color: #1b1b1b
    color #767b6f
    padding 10px 0

@media screen and (max-width:991px)

    .form-horizontal .control-label
        text-align left !important
        
    .btn-info
        margin-top 10px

@media screen and (max-width:768px)

    h1.frontpage-title
        font-size 52px
        margin-top 10px

    a.btn-navbar
        display block
        padding 7px
        margin 20px 10px 0 0
        height 30px
        width 38px

    a.btn-navbar span.icon-bar
        display block
        background-color #fff
        height 3px
        width 22px
        margin-bottom 3px

    .navbar-collapse
        margin-top 99px

    .navbar-nav
        padding-top 0
        float right
        margin-top -60px

    .navbar-form
        margin-top -60px

    .checkButton
        padding-top 10px

@media screen and (max-width:400px)
    .navbar-top
        padding 10px
