body
    padding-top 151px

.container
    position relative

.navbar-inverse
    background-color #fff
    border-bottom 2px solid #95ba00

.navbar-nav
    padding-top 26px
    float right

.navbar-inverse .navbar-nav > li > a
    color #95ba00 !important
    text-transform uppercase

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > li > a:hover
    color #fff !important
    background-color #95ba00 !important

.navbar-inverse .dropdown-menu > li > a
    color #fff
    background-color #95ba00

.navbar-inverse .dropdown-menu > li > a:hover
    background-color #fff
    color #95ba00

.navbar-inverse .dropdown-menu 
    background-color #95ba00

.navbar-header a.navbar-brand
    margin-top 26px
    margin-bottom -20px
    h6
        color #ccc

.navbar-fixed-top
    min-height 151px

.navbar-top ul 
    list-style-type none
    float right
    margin-top 15px
    margin-bottom 5px

.navbar-top
    position fixed
    top 0
    right 0
    z-index 1031
    width 100%
    background-color #fbfbfb
    border-bottom 1px solid #fafafa
    li
        float left
        margin-right 15px
        a
            color #000
            text-transform capitalize
            font-size 12px
        a:hover
            text-decoration underline
            background-color #fff

a.btn-navbar
    display none
    float right

.content
    margin-top 30px

.container .jumbotron
    background none
    box-sizing border-box

.btn
    padding: 6px 20px

.btn-info, .btn-primary
    background-color: #95ba00;
    border-color: #95ba00;
    border-radius: 5px;

.btn-default
    border-radius: 5px;

a.btn
    background-color #95ba00
    color #fff
    padding 10px 30px
    border-radius 5px
    -webkit-border-radius 5px
    -moz-border-radius 5px
    -o-border-radius 5px
    margin-bottom 20px

a.btn:hover
    background #5bc0de
    color #fff

.btn-submit
    vertical-align top
    padding 10px 25px

.btn-addnew
    color #fff
    background-color #95ba00
    padding 10px 25px
    border-radius 5px
    margin-bottom 20px

.btn-addnew:hover
    color #fff
    background-color #0079a1

.btn-primary
    border-radius 0
    
span.glyphicon
    margin-right 5px;

.checkButton span
    color #fff
    border-radius 5px
    padding 10px 25px
    cursor pointer
    text-transform uppercase
    margin-right 10px
    margin-top 20px

.checkButton span.yes
    background-color: #95ba00

.checkButton span.no
    background-color #525252

.checkButton input 
    position absolute
    z-index -999


.navbar-form
    float right
    margin-top 26px
    .form-group
        margin-left 10px
    button
        margin-left 10px

.toast-top-right
    top 70px

.toast-success
    background-color #95ba00

.topspace
    margin-top 30px

.choose_time table
    margin-left: 15px;
    input
        width: 60px !important;

hr
    border-color: #95ba00
    border-style: solid none
    border-width: 2px 0
    margin: 18px 0

.form-group.required .control-label:before
    content "*"
    color red

.add-zipcode-btn
    padding: 6px 12px
    width: 75px

ul.zipcode-list
    list-style: none
    padding: 0

li.zipcode-choice
    border 1px solid #aaaaaa
    border-radius 3px
    height 30px
    width 75px
    margin-bottom 10px
    margin-right 5px
    padding-top 4px
    text-align center
    color #6f6f6f
    float left
    a.zipcode-close
        color black
        margin-left 5px

/*------Front page------*/

.frontpage-content
    background url('../images/account_banner.jpg') top center no-repeat
    background-size cover
    min-height 650px


h1.frontpage-title
    text-transform uppercase
    margin-top -10px

ul.frontpage-links li
    color #95ba00
    list-style-type none

ul.frontpage-links li a 
    color #95ba00
    text-transform uppercase
    font-size 24px
    font-family Open Sans, sans-serif

ul.frontpage-links li a:hover
    text-decoration none
    color #006687

.jumbotron p 
    font-size 30px


/*----- Footer ------*/

.footer-top
    background-color #575757
    color #767b6f
    padding 40px 0

.footer-top h5
    color #fff
    text-transform uppercase

.footer-top a
    color #767b6f

.footer-top a:hover
    text-decoration underline

.footer-bottom
    background-color: #1b1b1b
    color #767b6f
    padding 10px 0

@media screen and (max-width:991px)

    .form-horizontal .control-label
        text-align left !important
        
    .btn-info
        margin-top 10px

@media screen and (max-width:768px)

    h1.frontpage-title
        font-size 52px
        margin-top 10px

    a.btn-navbar
        padding 7px
        margin 20px 10px 0 0
        height 30px
        width 38px

    a.btn-navbar span.icon-bar
        background-color #fff
        height 3px
        width 22px
        margin-bottom 3px

    .navbar-nav
        padding-top 0
        float right
        margin-top -60px

    .navbar-nav
        margin-top 20px

    .checkButton
        padding-top 10px

    .navbar-header
        img     
            width 180px
    .navbar-form
        margin-top 16px
    .navbar-fixed-top
        min-height 131px

@media screen and (max-width:640px)
    h1.frontpage-title
        font-size 38px
    .jumbotron p 
        font-size 22px
    ul.frontpage-links li a 
        font-size 20px
@media screen and (max-width:500px)
    body
        padding-top 130px
    h1.frontpage-title 
        font-size 24px
    .navbar-top
        li:first-child
        li:nth-child(2)
            display none
        ul
            float none 
            li 
                float none
                display block
                text-align center
    .navbar-header
        margin-top 60px
        text-align center
        img 
            width 170px
    .navbar-brand
        float none
    .navbar-form
        float none
        display block
        margin-top 0
        text-align center
    .navbar-inverse
        .navbar-form
            border none
    .frontpage-content
        min-height 300px
    .jumbotron p 
        font-size 18px
    ul.frontpage-links
        margin-left -20px
        li a 
            font-size 15px
    a.btn-navbar
        display block
        margin 0
        margin-top -55px
        span.icon-bar
            display block
    .navbar-nav
        float none
        text-align center