<!DOCTYPE html>
<html>
  <head>
    <title>Customer Registry</title>
    <% include ../includes/styles.html %>
  </head>

  <body ng-app="app" ng-controller="RootCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href="http://haku.ekukka.fi" class="navbar-brand"><img src="/images/eKukka_header.png" alt="ekukka"></a></div>
      </div>
      <div ng-include="'/app/account/navbar-login.html'"></div>
    </div>
    <section class="content">
      <div ng-view></div>
    </section>
    <footer>
      <div id="top_footer_wrapper">
        <div id="top_footer">
          <div class='footer_column'>
            <h5>Yhteystiedot</h5>
            <img src="/images/ekukka_kirjekuori.png" />
            <p>
              eKukka.fi - Kukkien koti<br />
              Floweb Oy<br />
              info@ekukka.fi<br />
            </p>
          </div>
          <div class='footer_column'>
            <h5>Viimeisimm&auml;t uutiset</h5>
            <ul>
              <li>
                <a href="http://srv.ekukka.fi/?p=1">Testing</a>
                <span class="post-date">June 2, 2014</span>
              </li>
              <li>
                <a href="http://srv.ekukka.fi/?p=1">Testing</a>
                <span class="post-date">June 2, 2014</span>
              </li>
              <li>
                <a href="http://srv.ekukka.fi/?p=1">Testing</a>
                <span class="post-date">June 2, 2014</span>
              </li>
            </ul>
          </div>
          <div class='footer_column'>
            <h5>Pikalinkit</h5>
            <ul>
              <li>
                <a href="http://srv.ekukka.fi/?p=1">Ota yhteytt&auml;</a>
              </li>
              <li>
                <a href="http://srv.ekukka.fi/?p=1">Tilaa uutiskirje</a>
              </li>
              <li>
                <a href="http://srv.ekukka.fi/?p=1">Kukkakauppiaalle</a>
              </li>
              <li>
                <a href="http://srv.ekukka.fi/?p=1">K&auml;ytt&ouml;ehdot</a>
              </li>
              <li>
                <a href="http://srv.ekukka.fi/?p=1">Tietoa meist&auml;</a>
              </li>
            </ul>
          </div>
          <div class='footer_column'>
            <h5>Kukkakauppiaat kartalla</h5>
            <img src="/images/ekukka_kartta.png" />
          </div>
        </div>
      </div>
      <div id="bottom_footer_wrapper">
        <div id="bottom_footer">
          &copy; Copyright Floweb ltd
        </div>
      </div>
    </footer>

    <% include ../includes/javascripts.html %>
  </body>
</html>