<!DOCTYPE html>
<html>
  <head>
    <title>Customer Registry</title>
    <% include ../includes/styles.html %>
  </head>

  <body ng-app="app" ng-controller="RootCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">Floweb</a></div>
        <div ng-include="'/app/account/navbar-login.html'"></div>
      </div>
    </div>
    <section class="content">
      <div ng-view></div>
    </section>
    <footer class="container text-center">
      <p>&copy; 2014 Floweb Ltd.<span class="pull-right">
          <select ng-model="language" ng-change="changeLanguage(language)">
            <option value="en" translate>English</option>
            <option value="fi" translate>Finnish</option>
            <option value="se" translate>Swedish</option>
            <option value="de" translate>German</option>
          </select></span></p>
    </footer>

    <% include ../includes/javascripts.html %>
  </body>
</html>