extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Floweb
            div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2014 Floweb Ltd.
            span.pull-right
                select(ng-model='language', ng-change='changeLanguage(language)')
                    option(value='en', translate) English
                    option(value='fi', translate) Finnish
                    option(value='se', translate) Swedish
                    option(value='de', translate) German