<legend>{{'_office_contact_' | translate}}</legend>
<div class="form-group">
  <label for="office_contact_persons" class="col-md-2 control-label">{{'_office_contact_' | translate}}</label>

  <div ng-if="persons.length > 0" class="col-md-5">
    <ul class="list-group" ng-if="!isEditOffice">
      <li class="list-group-item">
        <input type="checkbox" name="selectedPersons[]" value="{{persons[0].id}}" checked="checked" ng-click="toggleSelectedPersons(persons[0].id)"/> {{persons[0].pname}} - {{persons[0].email}}
      </li>
      <li ng-repeat="person in persons" ng-if="$index > 0" class="list-group-item">
        <input type="checkbox" name="selectedPersons[]" value="{{person.id}}" ng-click="toggleSelectedPersons(person.id)"/> {{person.pname}} - {{person.email}}
      </li>
    </ul>

    <ul class="list-group" ng-if="isEditOffice">
      <li ng-repeat="person in persons" class="list-group-item">
        <input type="checkbox" name="selectedPersons[]" value="{{person.id}}" ng-checked="checkedPersons(person.id)" ng-click="toggleSelectedPersons(person.id)"/> {{person.pname}} - {{person.email}}
      </li>
    </ul>
  </div>

  <div class="col-md-1">
    <button type="button" data-toggle="modal" data-target="#personModal" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>{{'_add_new_person_' | translate}}</button>
  </div>
</div>