<div class="container">
  <div class="well">
    <form name="officeForm" class="form-horizontal" ng-submit="create()" novalidate>
      <div ng-include="'/app/office/office_basic_form.html'"></div>

      <service-list services="office.services"></service-list>

      <hr/>
      <timepicker-list weekdays="weekdays" holiday="holiday"></timepicker-list>

      <hr/>
      <delivery-areas locations="office.delivery_areas"></delivery-areas>

      <hr/>
      <contact-list persons="persons" contact-persons="office.contact_persons"></contact-list>

      <hr/>
      <div ng-include="'/app/office/term_of_service.html'"></div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
              <button type="submit" ng-disabled="company.id==undefined || office.services==0 || officeForm.$invalid" translate="" class="btn btn-primary btn-submit">Submit</button>
              <a href="/offices" translate="" class="btn btn-default">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <section ng-controller="crCompanyCreateCtrl">
    <div id="companyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
            <h4 translate="" class="modal-title">Add New Company</h4>
          </div>
          <div class="modal-body">
            <form name="companyForm" class="form-horizontal">
              <div ng-class="{'has-error': (companyForm.companyname | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companyname" ,="," translate="" class="col-md-2 control-label">Company Name</label>
                <div class="col-md-10">
                  <input name="companyname" type="text" required="required" ng-model="company.name" class="form-control"/>
                  <p ng-show="companyForm.companyname | shouldDisplayError:companyForm" translate="" class="help-block">Company name is required</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companytype | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companytype" translate="" class="col-md-2 control-label">Company Type</label>
                <div class="col-md-5 required">
                  <select name="companytype" required="required" ng-model="company.type" class="form-control">
                    <option value="" translate="">Please select company type</option>
                    <option value="TMI" translate="">TMI</option>
                    <option value="KY" translate="">KY</option>
                    <option value="AY" translate="">AY</option>
                    <option value="OY" translate="">OY</option>
                    <option value="Osuuskunta" translate="">Osuuskunta</option>
                    <option value="Oppilaitos" translate="">Oppilaitos</option>
                    <option value="Muu" translate="">Muu</option>
                  </select>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companycode | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companycode" translate="" class="col-md-2 control-label">Company Code</label>
                <div class="col-md-10">
                  <input name="companycode" type="text" required="required" ng-maxlength="9" ng-pattern="/^[0-9]{6,7}-[0-9]{1}$/" ng-model="company.code" class="form-control"/>
                  <p ng-show="companyForm.companycode | shouldDisplayError:companyForm" translate="" class="help-block">Company code should be formatted as '1234567-8'</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companystreet | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companystreet" translate="" class="col-md-2 control-label">Street</label>
                <div class="col-md-10">
                  <input name="companystreet" type="text" required="required" ng-model="company.street" class="form-control"/>
                  <p ng-show="companyForm.companystreet | shouldDisplayError:companyForm" translate="" class="help-block">Company street is required</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companycity | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companycity" translate="" class="col-md-2 control-label">City</label>
                <div class="col-md-10">
                  <input name="companycity" type="text" required="required" ng-model="company.city" class="form-control"/>
                  <p ng-show="companyForm.companycity | shouldDisplayError:companyForm" translate="" class="help-block">Company city is required</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companyzip | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companyzip" translate="" class="col-md-2 control-label">Zip</label>
                <div class="col-md-10">
                  <input name="companyzip" type="text" required="required" ng-model="company.zip" class="form-control"/>
                  <p ng-show="companyForm.companyzip | shouldDisplayError:companyForm" translate="" class="help-block">Company zipcode is required</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companyphone | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companyphone" translate="" class="col-md-2 control-label">Company Phone</label>
                <div class="col-md-10">
                  <input name="companyphone" type="text" required="required" ng-model="company.phone" class="form-control"/>
                  <p ng-show="companyForm.companyphone | shouldDisplayError:companyForm" translate="" class="help-block">Company phone is required</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companyemail | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companyemail" translate="" class="col-md-2 control-label">Company Email</label>
                <div class="col-md-10">
                  <input name="companyemail" type="email" required="required" ng-model="company.email" class="form-control"/>
                  <p ng-show="companyForm.companyemail | shouldDisplayError:companyForm" translate="" class="help-block">Company email is required</p>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" translate="" class="btn btn-default">Close</button>
            <button type="button" ng-disabled="companyForm.$invalid" ng-click="create(true)" data-dismiss="modal" translate="" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section ng-controller="crPersonCreateCtrl">
    <div id="personModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
            <h4 translate="" class="modal-title">Add New Person</h4>
          </div>
          <div class="modal-body">
            <form name="personForm" class="form-horizontal">
              <div ng-class="{ 'has-error': (personForm.personname | shouldDisplayError:personForm)}" class="form-group required">
                <label for="personname" translate="" class="col-md-2 control-label">Person Name</label>
                <div class="col-md-10">
                  <input name="personname" type="text" required="required" ng-model="person.pname" class="form-control"/>
                  <p ng-show="personForm.personname | shouldDisplayError:personForm" translate="" class="help-block">Person name is required</p>
                </div>
              </div>
              <div ng-class="{ 'has-error': (personForm.persontitle | shouldDisplayError:personForm)}" class="form-group required">
                <label for="persontitle" translate="" class="col-md-2 control-label">Title</label>
                <div class="col-md-10">
                  <input name="persontitle" type="text" required="required" ng-model="person.title" class="form-control"/>
                  <p ng-show="personForm.persontitle | shouldDisplayError:personForm" translate="" class="help-block">Person title is required</p>
                </div>
              </div>
              <div class="form-group">
                <label for="persontelephone" translate="" class="col-md-2 control-label">Person Phone</label>
                <div class="col-md-10">
                  <input name="persontelephone" type="text" ng-model="person.telephone" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label for="personemail" translate="" class="col-md-2 control-label">Email</label>
                <div class="col-md-10">
                  <input name="personemail" type="text" ng-model="person.email" class="form-control"/>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" translate="" class="btn btn-default">Close</button>
            <button type="button" ng-disabled="personForm.$invalid" ng-click="create('modal-company')" data-dismiss="modal" translate="" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>