.container
    .well
        form.form-horizontal(name="officeForm")
            legend(translate='') Office Form
            .form-group
                label.col-md-2.control-label(for="office_company", translate='') Company
                .col-md-5(ng-show="company.id")
                    input.form-control(name="office_company", readonly, type="text", ng-model="company.company_name")
                    input.hidden.form-control(name="office_company_id", type="text", ng-model="company.id")
                .col-md-1(ng-hide="company.id")
                    button.btn.btn-info(type="button" data-toggle="modal" data-target="#companyModal")
                        span.glyphicon.glyphicon-plus
                        | {{'Add New' | translate}}

            .form-group.required(ng-class="{'has-error': (officeForm.office_name | shouldDisplayError:officeForm)}")
                label.col-md-2.control-label(for="office_name", translate='') Office Name
                .col-md-10
                    input.form-control(name="office_name", type="text", required, ng-model="office.office_name", placeholder="{{'Enter the office name, if different from the company official name' | translate }}")
                    p.help-block(ng-show='officeForm.office_name | shouldDisplayError:officeForm', translate='') Office name is required

            .form-group
                label.col-md-2.control-label(for="is_headoffice", translate='')
                .col-md-10
                    input(type="checkbox", ng-model="office.is_headoffice", ng-change="checkHeadOffice()")
                    |  {{'Office address is same as company address' | translate}}

            .form-group.required(ng-class="{ 'has-error': (officeForm.office_street | shouldDisplayError:officeForm)}")
                label.col-md-2.control-label(for="office_street", translate='') Street
                .col-md-10
                    input.form-control(name="office_street", type="text", required, ng-model="office.contact_info.street_address", ng-disabled="office.is_headoffice")
                    p.help-block(ng-show='officeForm.office_street | shouldDisplayError:officeForm', translate='') Office street is required

            .form-group.required(ng-class="{ 'has-error': (officeForm.office_city | shouldDisplayError:officeForm)}")
                label.col-md-2.control-label(for="office_city", translate='') City
                .col-md-10
                    input.form-control(name="office_city", type="text", required, ng-model="office.contact_info.city", ng-disabled="office.is_headoffice")
                    p.help-block(ng-show='officeForm.office_city | shouldDisplayError:officeForm', translate='') Office city is required

            .form-group.required(ng-class="{ 'has-error': (officeForm.office_zipcode | shouldDisplayError:officeForm)}")
                label.col-md-2.control-label(for="office_zipcode", translate='') Zipcode
                .col-md-10
                    input.form-control(name="office_zipcode", type="text", required, ng-model="office.contact_info.zipcode", ng-disabled="office.is_headoffice")
                    p.help-block(ng-show='officeForm.office_zipcode | shouldDisplayError:officeForm', translate='') Office zip code is required

            .form-group.hide
                label.col-md-2.control-label(for="office_coordinates", translate='') Coordinates
                .col-md-3
                    input.form-control(name="office_coordinates", readonly, type="text", ng-model="office.contact_info.coordinates.latitude", placeholder="Latitude")
                .col-md-3
                    input.form-control(name="office_coordinates", readonly, type="text", ng-model="office.contact_info.coordinates.longitude", placeholder="Longitude")

            .form-group
                label.col-md-2.control-label(for="office_map", translate='') Map
                .col-md-10
                    div(translate='') If pin is not right place, you can move it
                    br
                    gmap(address="office.contact_info.street_address", city="office.contact_info.city", latitude="office.contact_info.coordinates.latitude", longitude="office.contact_info.coordinates.longitude")

            .form-group.required(ng-class="{ 'has-error': (officeForm.office_phone | shouldDisplayError:officeForm)}")
                label.col-md-2.control-label(for="office_phone", translate='') Phone
                .col-md-10
                    input.form-control(name="office_phone", type="text", required, ng-model="office.contact_info.phone")
                    p.help-block(ng-show='officeForm.office_phone | shouldDisplayError:officeForm', translate='') Office phone is required

            .form-group
                label.col-md-2.control-label(for="office_altphone", translate='') Alt Phone
                .col-md-10
                    input.form-control(name="office_altphone", type="text", ng-model="office.contact_info.alt_phone")

            .form-group
                label.col-md-2.control-label(for="office_fax", translate='') Fax
                .col-md-10
                    input.form-control(name="officefax", type="text", ng-model="office.contact_info.fax")

            .form-group.required(ng-class="{ 'has-error': (officeForm.office_email | shouldDisplayError:officeForm)}")
                label.col-md-2.control-label(for="office_email", translate='') Email
                .col-md-10
                    input.form-control(name="office_email", type="email", required, ng-model="office.contact_info.email")
                    p.help-block(ng-show='officeForm.office_email | shouldDisplayError:officeForm', translate='') Office email is required

            .form-group
                label.col-md-2.control-label(for="office_web", translate='') Website
                .col-md-10
                    input.form-control(name="office_web", type="text", ng-model="office.contact_info.website")

            .form-group.required(ng-class="{ 'has-error': (officeForm.office_picture | shouldDisplayError:officeForm)}")
                label.col-md-2.control-label(for="office_picture", translate='') Picture
                .col-md-10
                    input.form-control(name="office_picture", type="text", required, ng-model="office.profile_img")
                    p.help-block(ng-show='officeForm.office_picture | shouldDisplayError:officeForm', translate='') Office picture is required

            .form-group.required(ng-class="{ 'has-error': (officeForm.office_short_desc | shouldDisplayError:officeForm)}")
                label.col-md-2.control-label(for="office_short_desc", translate='') Short Desc
                .col-md-10
                    textarea.form-control(name="office_short_desc", type="text", required, ng-model="office.description.short_info", placeholder="{{'Enter the marketing slogan slogan max 100 characters. For example Service is our passion'|translate}}")
                    p.help-block(ng-show='officeForm.office_short_desc | shouldDisplayError:officeForm', translate='') Office short description is required

            .form-group.required(ng-class="{ 'has-error': (officeForm.office_long_desc | shouldDisplayError:officeForm)}")
                label.col-md-2.control-label(for="office_long_desc", translate='') Long Desc
                .col-md-10
                    textarea.form-control(name="office_long_desc", type="text", required, ng-model="office.description.long_info", placeholder="{{'Write concise description of the operation of shop'|translate}}")
                    p.help-block(ng-show='officeForm.office_long_desc | shouldDisplayError:officeForm', translate='') Office long description is required

            .form-group.required
                label.col-md-2.control-label(for="office_services", translate='') Services
                .col-md-7(ng-show="office.services.length > 0")
                    .select2-container.select2-container-multi.form-control
                        ul.select2-choices
                            li.select2-search-choice(ng-repeat="service in office.services")
                                div {{service}}
                                a.select2-search-choice-close(href='#', tabindex='-1', ng-click='removeService(service)')
                .col-md-1
                    button.btn.btn-info(type="button" data-toggle="modal" data-target="#serviceModal")
                        span.glyphicon.glyphicon-plus
                        | {{'Add Service' | translate}}

            .form-group
                label.col-md-2.control-label(for="office_delivery_areas", translate='') Delivery Areas
                .col-md-7(ng-show="office.delivery_areas.length > 0")
                    .select2-container.select2-container-multi.form-control
                        ul.select2-choices
                            li.select2-search-choice(ng-repeat="zipcode in office.delivery_areas")
                                div {{zipcode}}
                                a.select2-search-choice-close(href='#', tabindex='-1', ng-click='removeZipCode(zipcode)')
                .col-md-1
                    button.btn.btn-info(type="button" data-toggle="modal" data-target="#deliveryModal")
                        span.glyphicon.glyphicon-plus
                        | {{'Add Delivery Areas' | translate}}

            hr
            legend(translate='') Open Times
            .form-group
                label.col-md-2.control-label(translate='') Monday
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[0].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[0].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="weekdays[0].is_closed")

            .form-group
                label.col-md-2.control-label(translate='') Tuesday
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[1].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[1].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="weekdays[1].is_closed")

            .form-group
                label.col-md-2.control-label(translate='') Wednesday
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[2].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[2].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="weekdays[2].is_closed")

            .form-group
                label.col-md-2.control-label(translate='') Thursday
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[3].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[3].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="weekdays[3].is_closed")

            .form-group
                label.col-md-2.control-label(translate='') Friday
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[4].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[4].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="weekdays[4].is_closed")

            .form-group
                label.col-md-2.control-label(translate='') Saturday
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[5].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[5].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="weekdays[5].is_closed")

            .form-group
                label.col-md-2.control-label(translate='') Sunday
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[6].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='weekdays[6].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="weekdays[6].is_closed")

            .form-group
                label.col-md-2.control-label(translate='') Holidays
                .col-md-6
                    textarea.form-control(type="text", ng-model="holiday")

            hr
            .form-group
                label.col-md-2.control-label(for="office_contact_persons", translate='') Contact
                .col-md-5(ng-if="persons.length > 0")
                    ul.list-group
                        li.list-group-item
                            input(type="checkbox", name="selectedPersons[]", value="{{persons[0].id}}", checked="checked", ng-click="toggleSelectedPersons(persons[0].id)")
                            |  {{persons[0].pname}} - {{persons[0].email}}
                        li.list-group-item(ng-repeat="person in persons", ng-if="$index > 0")
                            input(type="checkbox", name="selectedPersons[]", value="{{person.id}}", ng-click="toggleSelectedPersons(person.id)")
                            |  {{person.pname}} - {{person.email}}
                .col-md-1
                    button.btn.btn-info(type="button" data-toggle="modal" data-target="#personModal")
                        span.glyphicon.glyphicon-plus
                        | {{'Add New Person' | translate}}

            .form-group
                label.col-md-2.control-label(for="office_show", translate='')
                .col-md-10
                    input(name="office_show", type="checkbox", ng-model="office.show_office")
                    |  {{"Show office on ekukka.fi website" | translate}}

            .form-group
                .col-md-10.col-md-offset-2
                    .pull-right
                        button.btn.btn-primary(ng-click="create()", ng-disabled="officeForm.$invalid || company.id==undefined", translate='') Submit
                        | &nbsp;
                        a.btn.btn-default(href="/offices", translate='') Cancel
    include ../common/company/company-modal
    include ../common/person/person-modal
    include delivery-modal
    include service-modal
