
<section ng-controller="crDeliveryModalCtrl">
  <div id="deliveryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
          <h4 translate="" class="modal-title">Add Delivery Areas</h4>
        </div>
        <div class="modal-body">
          <form name="DeliveryForm" class="form-horizontal">
            <div ng-class="{ 'has-error': DeliveryForm.delivery_zipcode.$invalid &amp;&amp; DeliveryForm.delivery_zipcode.$dirty}" class="form-group">
              <div class="col-md-5">
                <input type="text" name="delivery_zipcode" ng-model="new_zipcode" ng-maxlength="5" ng-pattern="/^[0-9]{1,5}$/" placeholder="{{'Enter new zipcode'|translate}}" required="required" class="form-control"/>
              </div>
              <div class="col-md-">
                <button type="button" ng-click="addZipCode()" translate="" class="btn btn-primary add-zipcode-btn">Add</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <ul class="zipcode-list">
                  <li ng-repeat="zipcode in office.delivery_areas track by zipcode" class="zipcode-choice"><span>{{zipcode}}</span><a href="#" ng-click="removeZipCode(zipcode)" class="zipcode-close">x</a></li>
                </ul>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" translate="" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>