section(ng-controller="crDeliveryModalCtrl")
    #deliveryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title(translate='') Add Delivery Areas
                .modal-body
                    form.form-horizontal(name="DeliveryForm")
                        .form-group(ng-class="{ 'has-error': DeliveryForm.delivery_zipcode.$invalid && DeliveryForm.delivery_zipcode.$dirty}")
                            .col-md-5
                                input.form-control(type="text", name="delivery_zipcode", ng-model="new_zipcode", ng-maxlength="5", ng-pattern="/^[0-9]{1,5}$/", placeholder="{{'Enter new zipcode'|translate}}", required)
                            .col-md-
                                button.btn.btn-primary.add-zipcode-btn(type='button', ng-click="addZipCode()", translate='') Add
                        .form-group
                            .col-md-12
                                ul.zipcode-list
                                    li.zipcode-choice(ng-repeat="zipcode in office.delivery_areas track by zipcode")
                                        span {{zipcode}}
                                        a.zipcode-close(href="#", ng-click="removeZipCode(zipcode)") x
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal', translate='') Close
                    //-button.btn.btn-primary(type='button', ng-click="addZipCode()", data-dismiss='modal') Save