<legend>{{'_delivery_prices_and_areas_' | translate}}</legend>
<p>{{'_delivery_more_info_' | translate}}</p>

<div class="form-group" ng-repeat="location in locations">

  <label for="office_delivery_areas" class="col-md-2 control-label">{{'_delivery_price_' | translate}} {{$index + 1}}</label>
  <div class="col-md-1">
    <input type="text" ng-model="location.price" class="form-control" name="office_delivery_areas"/>
  </div>

  <div ng-show="location.areas.length > 0" class="col-md-6">
    <div class="select2-container select2-container-multi form-control">
      <ul class="select2-choices">
        <li ng-repeat="zipcode in location.areas" class="select2-search-choice">
          <div>{{zipcode}}</div><a href="#" tabindex="-1" ng-click="removeZipCode(location, zipcode)" class="select2-search-choice-close"></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-1">
    <button type="button" data-toggle="modal" data-target="#deliveryModal{{$index + 1}}" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>{{'_add_delivery_areas_' | translate}}</button>
  </div>

  <div id="deliveryModal{{$index + 1}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
          <h4 class="modal-title">{{'_add_delivery_areas_title_' | translate}}</h4>
        </div>
        <div class="modal-body">
          <form name="DeliveryForm" class="form-horizontal">
            <div class="form-group">
              <div class="col-md-5">
                <input type="text" maxlength="20" name="delivery_zipcode" ng-model="location.new_zipcode" ng-disabled="location.disabled" placeholder="{{'_enter_new_zipcode_'|translate}}" class="form-control"/>
              </div>
              <div class="col-md-">
                <button type="button" ng-click="addZipCode(location)" class="btn btn-primary add-zipcode-btn">{{'_add_' | translate}}</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <ul class="zipcode-list">
                  <li ng-repeat="zipcode in location.areas track by zipcode" class="zipcode-choice">
                    <a href="#" ng-click="removeZipCode(location, zipcode)" class="zipcode-close">x</a> {{zipcode}}
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">{{'_close_popup_' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>