<div class="container">
  <div class="well">
    <form name="officeForm" class="form-horizontal" ng-submit="update()" novalidate>
      <div ng-include="'/app/office/office_basic_form.html'"></div>

      <service-list services="office.services"></service-list>

      <hr/>
      <timepicker-list weekdays="office.open_times.weekdays" holiday="office.open_times.holiday"></timepicker-list>

      <hr/>
      <delivery-areas locations="office.delivery_areas"></delivery-areas>

      <hr/>
      <contact-list persons="persons" contact-persons="office.contact_persons" is-edit-office="isEditOffice"></contact-list>

      <hr/>
      <div ng-include="'/app/office/term_of_service.html'"></div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <div class="pull-right">
            <button type="submit" ng-disabled="company.id==undefined || office.services==0 || officeForm.$invalid" class="btn btn-primary btn-submit">{{'_update_' | translate}}</button>
            <a href="/offices" class="btn btn-default">{{'_cancel_' | translate}}</a>
          </div>
        </div>
      </div>
    </form>
  </div>

  <section ng-controller="crCompanyCreateCtrl">
    <div id="companyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
            <h4 class="modal-title">{{'_add_new_company_' | translate}}</h4>
          </div>
          <div class="modal-body">
            <form name="companyForm" class="form-horizontal">
              <div ng-class="{'has-error': (companyForm.companyname | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companyname" ,="," class="col-md-2 control-label">{{'_company_name_' | translate}}</label>
                <div class="col-md-10">
                  <input name="companyname" type="text" required="required" ng-model="company.name" class="form-control"/>
                  <p ng-show="companyForm.companyname | shouldDisplayError:companyForm" class="help-block">{{'_company_name_is_required_' | translate}}</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companytype | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companytype" class="col-md-2 control-label">{{'_company_type_' | translate}}</label>
                <div class="col-md-5 required">
                  <select name="companytype" required="required" ng-model="company.type" class="form-control">
                    <option value="">{{'_please_select_company type_' | translate}}</option>
                    <option value="TMI">{{'_TMI_' | translate}}</option>
                    <option value="KY">{{'_KY_' | translate}}</option>
                    <option value="AY">{{'_AY_' | translate}}</option>
                    <option value="OY">{{'_OY_' | translate}}</option>
                    <option value="Osuuskunta">{{'_Osuuskunta_' | translate}}</option>
                    <option value="Oppilaitos">{{'_Oppilaitos_' | translate}}</option>
                    <option value="Muu">{{'_Muu_' | translate}}</option>
                  </select>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companycode | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companycode" class="col-md-2 control-label">{{'_company_code_' | translate}}</label>
                <div class="col-md-10">
                  <input name="companycode" type="text" required="required" ng-maxlength="9" ng-pattern="/^[0-9]{6,7}-[0-9]{1}$/" ng-model="company.code" class="form-control"/>
                  <p ng-show="companyForm.companycode | shouldDisplayError:companyForm" class="help-block">{{'_company_code_should_be_formatted_as_1234567-8_' | translate}}</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companystreet | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companystreet" class="col-md-2 control-label">{{'_street_' | translate}}</label>
                <div class="col-md-10">
                  <input name="companystreet" type="text" required="required" ng-model="company.street" class="form-control"/>
                  <p ng-show="companyForm.companystreet | shouldDisplayError:companyForm" class="help-block">{{'_company_street_is_required_' | translate}}</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companycity | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companycity" class="col-md-2 control-label">{{'_city_' | translate}}</label>
                <div class="col-md-10">
                  <input name="companycity" type="text" required="required" ng-model="company.city" class="form-control"/>
                  <p ng-show="companyForm.companycity | shouldDisplayError:companyForm" class="help-block">{{'_company_city_is_required_' | translate}}</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companyzip | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companyzip" class="col-md-2 control-label">{{'_zip_' | translate}}</label>
                <div class="col-md-10">
                  <input name="companyzip" type="text" required="required" ng-model="company.zip" class="form-control"/>
                  <p ng-show="companyForm.companyzip | shouldDisplayError:companyForm" class="help-block">{{'_company_zipcode_is_required_' | translate}}</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companyphone | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companyphone" class="col-md-2 control-label">{{'_company_phone_' | translate}}</label>
                <div class="col-md-10">
                  <input name="companyphone" type="text" required="required" ng-model="company.phone" class="form-control"/>
                  <p ng-show="companyForm.companyphone | shouldDisplayError:companyForm" class="help-block">{{'_company_phone_is_required_' | translate}}</p>
                </div>
              </div>
              <div ng-class="{'has-error': (companyForm.companyemail | shouldDisplayError:companyForm)}" class="form-group required">
                <label for="companyemail" class="col-md-2 control-label">{{'_company_email_' | translate}}</label>
                <div class="col-md-10">
                  <input name="companyemail" type="email" required="required" ng-model="company.email" class="form-control"/>
                  <p ng-show="companyForm.companyemail | shouldDisplayError:companyForm" class="help-block">{{'_company_email_is_required_' | translate}}</p>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">{{'_close_' | translate}}</button>
            <button type="button" ng-disabled="companyForm.$invalid" ng-click="create(true)" data-dismiss="modal" class="btn btn-primary">{{'_save_' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section ng-controller="crPersonCreateCtrl">
    <div id="personModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
            <h4 class="modal-title">{{'_add_new_person_' | translate}}</h4>
          </div>
          <div class="modal-body">
            <form name="personForm" class="form-horizontal">
              <div ng-class="{ 'has-error': (personForm.personname | shouldDisplayError:personForm)}" class="form-group required">
                <label for="personname" class="col-md-2 control-label">{{'_person_name_' | translate}}</label>
                <div class="col-md-10">
                  <input name="personname" type="text" required="required" ng-model="person.pname" class="form-control"/>
                  <p ng-show="personForm.personname | shouldDisplayError:personForm" class="help-block">{{'_person_name_is_required_' | translate}}</p>
                </div>
              </div>
              <div ng-class="{ 'has-error': (personForm.persontitle | shouldDisplayError:personForm)}" class="form-group required">
                <label for="persontitle" class="col-md-2 control-label">{{'_title_' | translate}}</label>
                <div class="col-md-10">
                  <input name="persontitle" type="text" required="required" ng-model="person.title" class="form-control"/>
                  <p ng-show="personForm.persontitle | shouldDisplayError:personForm" class="help-block">{{'_person_title_is_required_' | translate}}</p>
                </div>
              </div>
              <div class="form-group">
                <label for="persontelephone" class="col-md-2 control-label">{{'_person_phone_' | translate}}</label>
                <div class="col-md-10">
                  <input name="persontelephone" type="text" ng-model="person.telephone" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label for="personemail" class="col-md-2 control-label">{{'_email_' | translate}}</label>
                <div class="col-md-10">
                  <input name="personemail" type="text" ng-model="person.email" class="form-control"/>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">{{'_close_' | translate}}</button>
            <button type="button" ng-disabled="personForm.$invalid" ng-click="create('modal-company')" data-dismiss="modal" class="btn btn-primary">{{'_save_' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>