.container
    .well
        form.form-horizontal(name="officeForm")
            legend(translate='') Office Form
            .form-group.required
                label.col-md-2.control-label(for="office_company", translate='') Company
                .col-md-10
                    input.form-control(name="office_company", readonly, type="text", ng-model="office.company.company_name")
                    input.hidden.form-control(name="office_company_id", type="text", ng-model="office.company.id")
            .form-group
                label.col-md-2.control-label(for="office_name", translate='') Office Name
                .col-md-10
                    input.form-control(name="office_name", type="text", ng-model="office.office_name", placeholder="{{'Enter the office name, if different from the company official name' | translate }}")
            .form-group
                label.col-md-2.control-label(for="is_headoffice", translate='') Head Office
                .col-md-10
                    input.form-control(type="checkbox", ng-model="office.is_headoffice")
            .form-group.required
                label.col-md-2.control-label(for="office_street", translate='') Street
                .col-md-10
                    input.form-control(name="office_street", type="text", ng-model="office.contact_info.street_address")
            .form-group.required
                label.col-md-2.control-label(for="office_city", translate='') City
                .col-md-10
                    input.form-control(name="office_city", type="text", ng-model="office.contact_info.city")
            .form-group.required
                label.col-md-2.control-label(for="office_zipcode", translate='') Zipcode
                .col-md-10
                    input.form-control(name="office_zipcode", type="text", ng-model="office.contact_info.zipcode")
            .form-group.hide
                label.col-md-2.control-label(for="office_coordinates", translate='') Coordinates
                .col-md-3
                    input.form-control(name="office_coordinates", readonly, type="text", ng-model="office.contact_info.coordinates.latitude")
                .col-md-3
                    input.form-control(name="office_coordinates", readonly, type="text", ng-model="office.contact_info.coordinates.longitude")
            .form-group
                label.col-md-2.control-label(for="office_map", translate='') Map
                .col-md-10
                    gmap(address="office.contact_info.street_address", city="office.contact_info.city", latitude="office.contact_info.coordinates.latitude", longitude="office.contact_info.coordinates.longitude")
            .form-group.required
                label.col-md-2.control-label(for="office_phone", translate='') Phone
                .col-md-10
                    input.form-control(name="office_phone", type="text", ng-model="office.contact_info.phone")
            .form-group
                label.col-md-2.control-label(for="office_altphone", translate='') Alt Phone
                .col-md-10
                    input.form-control(name="office_altphone", type="text", ng-model="office.contact_info.alt_phone")
            .form-group
                label.col-md-2.control-label(for="office_fax", translate='') Fax
                .col-md-10
                    input.form-control(name="officefax", type="text", ng-model="office.contact_info.fax")
            .form-group.required
                label.col-md-2.control-label(for="office_email", translate='') Email
                .col-md-10
                    input.form-control(name="office_email", type="text", ng-model="office.contact_info.email")
            .form-group
                label.col-md-2.control-label(for="office_web", translate='') Website
                .col-md-10
                    input.form-control(name="office_web", type="text", ng-model="office.contact_info.website")
            .form-group
                label.col-md-2.control-label(for="office_picture", translate='') Picture
                .col-md-10
                    input.form-control(name="office_picture", type="text", ng-model="office.profile_img")
            .form-group.required
                label.col-md-2.control-label(for="office_short_desc", translate='') Short Desc
                .col-md-10
                    textarea.form-control(name="office_short_desc", type="text", ng-model="office.description.short_info", placeholder="{{'Enter the marketing slogan slogan max 100 characters. For example Service is our passion'|translate}}")
            .form-group.required
                label.col-md-2.control-label(for="office_long_desc", translate='') Long Desc
                .col-md-10
                    textarea.form-control(name="office_long_desc", type="text", ng-model="office.description.long_info", placeholder="{{'Write concise description of the operation of shop'|translate}}")
            .form-group.required
                label.col-md-2.control-label(for="office_services", translate='') Services
                .col-md-7
                    select.form-control(name="office_services", ng-model="office.services", ui-select2="{ allowClear: true}", multiple, ng-required="true", placeholder="{{'Contact information will not be displayed ekukka.fi search service'|translate}}")
                        option(ng-repeat='service in services', value='{{service}}', translate='') {{ service }}
                .col-md-1
                    button.btn.btn-info(type="button" data-toggle="modal" data-target="#serviceModal")
                        span.glyphicon.glyphicon-plus
                        | {{'Add Service' | translate}}
            .form-group
                label.col-md-2.control-label(for="office_delivery_areas", translate='') Delivery Areas
                .col-md-7(ng-show="office.delivery_areas.length > 0")
                    .select2-container.select2-container-multi.form-control
                        ul.select2-choices
                            li.select2-search-choice(ng-repeat="zipcode in office.delivery_areas")
                                div {{zipcode}}
                                a.select2-search-choice-close(href='#', tabindex='-1', ng-click='removeZipCode(zipcode)')
                .col-md-1
                    button.btn.btn-info(type="button" data-toggle="modal" data-target="#deliveryModal")
                        span.glyphicon.glyphicon-plus
                        | {{'Add Delivery Areas' | translate}}
            .form-group
                label.col-md-2.control-label(for="office_contact_persons", translate='') Contact
                .col-md-7
                    select.form-control(name="office_contact_persons", ng-model="office.contact_persons", ui-select2="{ allowClear: true}", multiple, ng-required="true")
                        option(ng-repeat='person in persons', value='{{person.id}}') {{person.pname}} - {{person.email}}
                .col-md-1
                    button.btn.btn-info(type="button" data-toggle="modal" data-target="#personModal")
                        span.glyphicon.glyphicon-plus
                        | {{'Add New Person' | translate}}
            hr
            legend(translate='') Open Times
            .form-group
                label.col-md-2.control-label(translate='') Monday
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[0].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[0].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="office.open_times.weekdays[0].is_closed")
            .form-group
                label.col-md-2.control-label(translate='') Tuesday
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[1].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[1].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="office.open_times.weekdays[1].is_closed")
            .form-group
                label.col-md-2.control-label(translate='') Wednesday
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[2].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[2].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="office.open_times.weekdays[2].is_closed")
            .form-group
                label.col-md-2.control-label(translate='') Thursday
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[3].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[3].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="office.open_times.weekdays[3].is_closed")
            .form-group
                label.col-md-2.control-label(translate='') Friday
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[4].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[4].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="office.open_times.weekdays[4].is_closed")
            .form-group
                label.col-md-2.control-label(translate='') Saturday
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[5].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[5].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="office.open_times.weekdays[5].is_closed")
            .form-group
                label.col-md-2.control-label(translate='') Sunday
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[6].from', disabled='disabled', show-meridian='false', description="{{'From'|translate}}")
                .col-md-2
                    timepicker-pop.input-group(input-time='office.open_times.weekdays[6].to', disabled='disabled', show-meridian='false', description="{{'To'|translate}}")
                label.col-sm-1.control-label(translate='') Close
                .col-md-2
                    input.form-control(type="checkbox", ng-model="office.open_times.weekdays[6].is_closed")
            .form-group
                label.col-md-2.control-label(translate='') Holidays
                .col-md-6
                    textarea.form-control(type="text", ng-model="office.open_times.holiday")
            .form-group
                label.col-md-2.control-label(for="office_show", translate='') Show office on ekukka.fi website
                .col-md-10
                    input.form-control(name="office_show", type="checkbox", ng-model="office.show_office")
            .form-group
                .col-md-10.col-md-offset-2
                    .pull-right
                        button.btn.btn-primary(ng-click="update()", translate='') Submit
                        | &nbsp;
                        a.btn.btn-default(href="/offices", translate='') Cancel
    include ../common/service/service-modal
    include ../common/person/person-modal
    include delivery-modal
