<div class="container">
  <a href="/offices/create" class="btn btn-addnew">
    <i class="glyphicon glyphicon-plus"></i>
    <span>{{ '_add_new_office_' | translate }}</span>
  </a>
  <div class="well">
    <div class="row col-md-12">
      <div class="col-lg-10 col-md-10 col-xs-12">
        <h2>{{ '_offices_' | translate }}</h2>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 pull-right" ng-if="identity.currentUser.isAdmin()">
        <input name="officesearch" type="text" ng-model="officesearch" placeholder="{{ '_search_' | translate }}" style="margin-top:25px;">
      </div>
    </div>
    <div class="table-reponsive"></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ '_office_' | translate }}</th>
          <th>{{ '_address_' | translate }}</th>
          <th>{{ '_telephone_' | translate }}</th>
          <th>{{ '_responsible_' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="office in offices | filter: officesearch | orderBy:office_name">
          <td>{{office.office_name}}</td>
          <td>{{office.contact_info.street_address}}, {{office.contact_info.city}}</td>
          <td>{{office.contact_info.phone}}</td>
          <td>{{office.contact_persons[0].pname}}</td>
          <td>
            <a href="/offices/{{office.id}}">{{ '_edit_' | translate }}</a>
            &nbsp;|&nbsp;
            <a href="" ng-click="delete(office)">{{ '_delete_' | translate }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>