section(ng-controller="crServiceModalCtrl")
    #serviceModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title(translate='') Add New Service
                .modal-body
                    form.form-horizontal(name="ServiceForm")
                        .form-group(ng-class="{ 'has-error': ServiceForm.service_name.$invalid && ServiceForm.service_name.$dirty}")
                            .col-md-5
                                input.form-control(type="text", name="service_name", ng-model="new_service", placeholder="{{'Enter new service'|translate}}", required)
                            .col-md-
                                button.btn.btn-primary.add-zipcode-btn(type='button', ng-click="addService()", translate='') Add
                        .form-group
                            .col-md-12
                                ul.zipcode-list
                                    li.zipcode-choice(ng-repeat="service in office.services track by service")
                                        span {{ service }}
                                        a.zipcode-close(href="#", ng-click="removeService(service)") x
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal', translate='') Close