<div class="form-group required">
  <label for="office_picture" class="col-lg-2 col-md-2 col-xs-12 control-label">{{'_picture_' | translate}}</label>
  <div class="col-lg-2 col-md-1 col-xs-5">
    <img ng-src="{{selectedImage}}" alt="thumbnail" width="128" height="128">
  </div>
  <div class="col-lg-2 col-md-1 col-xs-2">
    <button type="button" data-toggle="modal" data-target="#thumbnailModal" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>{{'_choose_picture_' | translate}}</button>
  </div>

  <div id="thumbnailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
          <h4 class="modal-title">{{'_choose_picture_' | translate}}</h4>
        </div>
        <div class="modal-body" style="overflow-y: scroll; height:500px;">
          <select id="selectImage" class="image-picker" ng-model="selectedImage">
            <option ng-repeat="image in images" data-img-src="{{image}}" value="{{image}}"></option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">{{'_close_thumbnail_popup_' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>