<div class="form-group required" show-errors>
  <label for="companyname" class="col-md-2 control-label">{{ '_company_name_' | translate }}</label>
  <div class="col-md-10">
    <input name="companyname" type="text" required="required" ng-model="$parent.company.company_name" class="form-control"/>
    <p ng-if="companyForm.companyname.$error.required" class="help-block">{{ '_company_name_field_is_required_' | translate }}</p>
  </div>
</div>

<div class="form-group required" show-errors>
  <label for="companycode" class="col-md-2 control-label">{{ '_company_type_' | translate }}</label>
  <div class="col-md-5">
    <select name="companytype" ng-model="$parent.company.company_type" class="form-control">
      <option value="TMI">{{ '_TMI_' | translate }}</option>
      <option value="KY">{{ '_KY_' | translate }}</option>
      <option value="AY">{{ '_AY_' | translate }}</option>
      <option value="OY">{{ '_OY_' | translate }}</option>
      <option value="Osuuskunta">{{ '_Osuuskunta_' | translate }}</option>
      <option value="Oppilaitos">{{ '_Oppilaitos_' | translate }}</option>
      <option value="Muu">{{ '_Muu_' | translate }}</option>
      <option value="YH">{{ '_YH_' | translate }}</option>
    </select>
    <p ng-if="companyForm.companytype.$error.required" class="help-block">{{ '_company_type_field_is_required_' | translate }}</p>
  </div>
</div>

<div class="form-group required" show-errors>
  <label for="companycode" class="col-md-2 control-label">{{ '_company_code_' | translate }}</label>
  <div class="col-md-10">
    <input name="companycode" type="text" required="required" ng-maxlength="9" ng-pattern="/^[0-9]{7}-[0-9]{1}$/" ng-model="$parent.company.company_code" class="form-control"/>
    <p ng-html-bind = "'_company_code_help_link_' | translate"/>
    <p ng-if="companyForm.companycode.$error.required" class="help-block">{{ '_company_code_field_is_required_' | translate }}</p>
    <p ng-if="companyForm.companycode.$error.pattern" class="help-block">{{ '_company_code_should_be_formatted_as_1234567-8_' | translate }}</p>
  </div>
</div>

<div class="form-group">
  <label for="companystreet" class="col-md-2 control-label">{{ '_street_' | translate }}</label>
  <div class="col-md-10">
    <input name="companystreet" type="text" ng-model="$parent.company.street" class="form-control"/>
  </div>
</div>

<div class="form-group">
  <label for="companycity" class="col-md-2 control-label">{{ '_city_' | translate }}</label>
  <div class="col-md-10">
    <input name="companycity" type="text" ng-model="$parent.company.city" class="form-control"/>
  </div>
</div>

<div class="form-group">
  <label for="companyzip" class="col-md-2 control-label">{{ '_zip_' | translate }}</label>
  <div class="col-md-10">
    <input name="companyzip" type="text" ng-model="$parent.company.zip" class="form-control"/>
  </div>
</div>

<div class="form-group required" show-errors>
  <label for="companyphone" class="col-md-2 control-label">{{ '_company_phone_' | translate }}</label>
  <div class="col-md-10">
    <input name="companyphone" type="text" required="required" ng-model="$parent.company.phone" class="form-control"/>
    <p ng-if="companyForm.companyphone.$error.required" class="help-block">{{ '_company_phone_field_is_required_' | translate }}</p>
  </div>
</div>

<div class="form-group">
  <label for="companyaltphone" class="col-md-2 control-label">{{ '_alt_phone_' | translate }}</label>
  <div class="col-md-10">
    <input name="companyaltphone" type="text" ng-model="$parent.company.alt_phone" class="form-control"/>
  </div>
</div>

<div class="form-group">
  <label for="companyfax" class="col-md-2 control-label">{{ '_fax_' | translate }}</label>
  <div class="col-md-10">
    <input name="companyfax" type="text" ng-model="$parent.company.fax" class="form-control"/>
  </div>
</div>

<div class="form-group">
  <label for="companyweb" class="col-md-2 control-label">{{ '_web_' | translate }}</label>
  <div class="col-md-10">
    <input name="companyweb" type="text" ng-model="$parent.company.web_url" class="form-control"/>
  </div>
</div>

<div class="form-group required" show-errors>
  <label for="companyemail" class="col-md-2 control-label">{{ '_email_' | translate }}</label>
  <div class="col-md-10">
    <input name="companyemail" type="email" required="required" ng-model="$parent.company.email" class="form-control"/>
    <p ng-if="companyForm.companyemail.$error.required" class="help-block">{{ '_company_email_field_is_required_' | translate }}</p>
    <p ng-if="companyForm.companyemail.$error.email" class="help-block">{{ '_company_email_field_is_invalid_' | translate }}</p>
  </div>
</div>

<div class="form-group">
  <label for="contact" class="col-md-2 control-label">{{ '_contact_' | translate }}</label>
  <div class="col-md-5">
    <select ng-model="company.contact" ng-options="person.id as person.pname for person in persons" class="form-control">
      <option value="">{{ '_please_select_contact_person_' | translate }}</option>
    </select>
  </div>
  <div class="col-md-1">
    <button type="button" data-toggle="modal" data-target="#personModal" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>{{'_add_new_person_' | translate}}</button>
  </div>
</div>
