
<div class="container">
  <div class="well">
    <form name="companyForm" class="form-horizontal">
      <legend translate="">Company Profile</legend>
      <div ng-class="{ 'has-error': (companyForm.companyname | shouldDisplayError:companyForm)}" class="form-group required">
        <label for="companyname" translate="" class="col-md-2 control-label">Company Name</label>
        <div class="col-md-10">
          <input name="companyname" type="text" required="required" ng-model="company.name" class="form-control"/>
          <p ng-show="companyForm.companyname | shouldDisplayError:companyForm" translate="" class="help-block">Company name field is required</p>
        </div>
      </div>
      <div ng-class="{ 'has-error': (companyForm.companytype | shouldDisplayError:companyForm)}" class="form-group required">
        <label for="companycode" translate="" class="col-md-2 control-label">Company Type</label>
        <div class="col-md-5">
          <select name="companytype" required="required" ng-model="company.type" class="form-control">
            <option value="" translate="">Please select company type</option>
            <option value="TMI" translate="">TMI</option>
            <option value="KY" translate="">KY</option>
            <option value="AY" translate="">AY</option>
            <option value="OY" translate="">OY</option>
            <option value="Osuuskunta" translate="">Osuuskunta</option>
            <option value="Oppilaitos" translate="">Oppilaitos</option>
            <option value="Muu" translate="">Muu</option>
          </select>
        </div>
      </div>
      <div ng-class="{ 'has-error': (companyForm.companycode | shouldDisplayError:companyForm)}" class="form-group required">
        <label for="companycode" translate="" class="col-md-2 control-label">Company Code</label>
        <div class="col-md-10">
          <input name="companycode" type="text" required="required" ng-maxlength="9" ng-pattern="/^[0-9]{6,7}-[0-9]{1}$/" ng-model="company.code" class="form-control"/>
          <p ng-show="companyForm.companycode | shouldDisplayError:companyForm" translate="" class="help-block">Company code field is required</p>
        </div>
      </div>
      <div class="form-group">
        <label for="companystreet" translate="" class="col-md-2 control-label">Street</label>
        <div class="col-md-10">
          <input name="companystreet" type="text" ng-model="company.street" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="companycity" translate="" class="col-md-2 control-label">City</label>
        <div class="col-md-10">
          <input name="companycity" type="text" ng-model="company.city" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="companyzip" translate="" class="col-md-2 control-label">Zip</label>
        <div class="col-md-10">
          <input name="companyzip" type="text" ng-model="company.zip" class="form-control"/>
        </div>
      </div>
      <div ng-class="{ 'has-error': (companyForm.companyphone | shouldDisplayError:companyForm)}" class="form-group required">
        <label for="companyphone" translate="" class="col-md-2 control-label">Phone</label>
        <div class="col-md-10">
          <input name="companyphone" type="text" ng-model="company.phone" class="form-control"/>
          <p ng-show="companyForm.companyphone | shouldDisplayError:companyForm" translate="" class="help-block">Company phone field is required</p>
        </div>
      </div>
      <div class="form-group">
        <label for="companyaltphone" translate="" class="col-md-2 control-label">Alt Phone</label>
        <div class="col-md-10">
          <input name="companyaltphone" type="text" ng-model="company.altphone" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="companyfax" translate="" class="col-md-2 control-label">Fax</label>
        <div class="col-md-10">
          <input name="companyfax" type="text" ng-model="company.fax" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="companyweb" translate="" class="col-md-2 control-label">Web</label>
        <div class="col-md-10">
          <input name="companyweb" type="text" ng-model="company.web" class="form-control"/>
        </div>
      </div>
      <div ng-class="{ 'has-error': (companyForm.companyemail | shouldDisplayError:companyForm)}" class="form-group required">
        <label for="companyemail" translate="" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
          <input name="companyemail" type="text" required="required" ng-model="company.email" class="form-control"/>
          <p ng-show="companyForm.companyemail | shouldDisplayError:companyForm" translate="" class="help-block">Company email field is required</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <div class="pull-right">
            <button ng-click="create()" ng-disabled="companyForm.$invalid" translate="" class="btn btn-primary btn-submit">Submit</button>
            <a href="/companies" translate="" class="btn btn-default">Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>