.container
    .well
        form.form-horizontal(name="companyForm")
            legend(translate='') Company Profile
            .form-group.required(ng-class="{ 'has-error': (companyForm.companyname | shouldDisplayError:companyForm)}")
                label.col-md-2.control-label(for="companyname", translate='') Company Name
                .col-md-10
                    input.form-control(name="companyname", type="text", required, ng-model="company.name")
                    p.help-block(ng-show='companyForm.companyname | shouldDisplayError:companyForm', translate='') Company name field is required

            .form-group.required(ng-class="{ 'has-error': (companyForm.companytype | shouldDisplayError:companyForm)}")
                label.col-md-2.control-label(for="companycode", translate='') Company Type
                .col-md-5
                    select.form-control(name="companytype", required, ng-model="company.type")
                        option(value='', translate='') Please select company type
                        option(value='TMI', translate='') TMI
                        option(value='KY', translate='') KY
                        option(value='AY', translate='') AY
                        option(value='OY', translate='') OY
                        option(value='Osuuskunta', translate='') Osuuskunta
                        option(value='Oppilaitos', translate='') Oppilaitos
                        option(value='Muu', translate='') Muu

            .form-group.required(ng-class="{ 'has-error': (companyForm.companycode | shouldDisplayError:companyForm)}")
                label.col-md-2.control-label(for="companycode", translate='') Company Code
                .col-md-10
                    input.form-control(name="companycode", type="text", required, ng-maxlength="9", ng-pattern="/^[0-9]{6,7}-[0-9]{1}$/", ng-model="company.code")
                    p.help-block(ng-show='companyForm.companycode | shouldDisplayError:companyForm', translate='') Company code field is required

            .form-group
                label.col-md-2.control-label(for="companystreet", translate='') Street
                .col-md-10
                    input.form-control(name="companystreet", type="text", ng-model="company.street")

            .form-group
                label.col-md-2.control-label(for="companycity", translate='') City
                .col-md-10
                    input.form-control(name="companycity", type="text", ng-model="company.city")

            .form-group
                label.col-md-2.control-label(for="companyzip", translate='') Zip
                .col-md-10
                    input.form-control(name="companyzip", type="text", ng-model="company.zip")

            .form-group.required(ng-class="{ 'has-error': (companyForm.companyphone | shouldDisplayError:companyForm)}")
                label.col-md-2.control-label(for="companyphone", translate='') Phone
                .col-md-10
                    input.form-control(name="companyphone", type="text", ng-model="company.phone")
                    p.help-block(ng-show='companyForm.companyphone | shouldDisplayError:companyForm', translate='') Company phone field is required

            .form-group
                label.col-md-2.control-label(for="companyaltphone", translate='') Alt Phone
                .col-md-10
                    input.form-control(name="companyaltphone", type="text", ng-model="company.altphone")

            .form-group
                label.col-md-2.control-label(for="companyfax", translate='') Fax
                .col-md-10
                    input.form-control(name="companyfax", type="text", ng-model="company.fax")

            .form-group
                label.col-md-2.control-label(for="companyweb", translate='') Web
                .col-md-10
                    input.form-control(name="companyweb", type="text", ng-model="company.web")

            .form-group.required(ng-class="{ 'has-error': (companyForm.companyemail | shouldDisplayError:companyForm)}")
                label.col-md-2.control-label(for="companyemail", translate='') Email
                .col-md-10
                    input.form-control(name="companyemail", type="text", required, ng-model="company.email")
                    p.help-block(ng-show='companyForm.companyemail | shouldDisplayError:companyForm', translate='') Company email field is required

            .form-group
                .col-md-10.col-md-offset-2
                    .pull-right
                        button.btn.btn-primary(ng-click="create()", ng-disabled="companyForm.$invalid", translate='') Submit
                        | &nbsp;
                        a.btn.btn-default(href="/companies", translate='') Cancel
