<div class="container">
  <a href="/companies/create" class="btn btn-addnew" ng-if="!user.company">
    <i class="glyphicon glyphicon-plus"></i>
    <span>{{ '_new_company_' | translate }}</span>
  </a>
  <div class="well">
    <div class="row">
      <div class="col-md-10">
        <h2>{{ '_companies_' | translate }}</h2>
      </div>
    </div>
    <div class="table-reponsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ '_name_' | translate }}</th>
            <th>{{ '_type_' | translate }}</th>
            <th>{{ '_code_' | translate }}</th>
            <th>{{ '_address_' | translate }}</th>
            <th>{{ '_telephone_' | translate }}</th>
            <th>{{ '_email_' | translate }}</th>
            <th>{{ '_contact_' | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="company in companies | orderBy:name">
            <td>{{company.company_name}}</td>
            <td>{{company.company_type}}</td>
            <td>{{company.company_code}}</td>
            <td>{{company.street}}, {{company.city}}</td>
            <td>{{company.phone}}</td>
            <td>{{company.email}}</td>
            <td>{{company.contact}}</td>
            <td>
              <a href="/companies/{{company.id}}">{{ '_edit_' | translate }}</a><span ng-hide="companies.length==1">&nbsp;|&nbsp;</span>
              <a href="" ng-hide="companies.length==1" ng-click="delete(company)">{{ '_delete_' | translate }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>