.container
    .well
        .row
            .col-md-10
                h2(translate='') Companies
            .col-md-2.topspace(ng-hide='companies.length==1')
                a(href="/companies/create", translate='') New Company
        .table-reponsive
            table.table.table-striped
                thead
                    tr
                        th(translate='') Name
                        th(translate='') Type
                        th(translate='') Code
                        th(translate='') Address
                        th(translate='') Telephone
                        th(translate='') Email
                        th(translate='') Contact
                        th
                tbody
                    tr(ng-repeat="company in companies | orderBy:name")
                        td {{company.company_name}}
                        td {{company.company_type}}
                        td {{company.company_code}}
                        td {{company.street}}, {{company.city}}
                        td {{company.phone}}
                        td {{company.email}}
                        td {{company.contact}}
                        td
                            a(href="/companies/{{company.id}}", translate='') Edit
                            span(ng-hide='companies.length==1') &nbsp;|&nbsp;
                            a(href="", ng-hide='companies.length==1', ng-click="delete(company)", translate='') Delete
