section(ng-controller="crServiceModalCreateCtrl")
    #serviceModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Add New Service
                .modal-body
                    form.form-horizontal(name="serviceForm")
                        fieldset
                            .form-group
                                label.col-md-2.control-label(for="service_name") Name
                                .col-md-10
                                    input.form-control(name="service_name", type="text", ng-model="service_name")
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button', ng-click="createNewService()", data-dismiss='modal') Save
