<div ng-controller="crNavBarLoginCtrl">
  <div class="navbar-top">
    <div class="container">
      <ul ng-hide="identity.isAuthenticated()">
        <li>{{ '_contact_email_' | translate }} info@ekukka.fi</li>
        <li><a href="/signup">{{ '_register_' | translate }}</a></li>
        <li>
          <select ng-model="language" ng-change="changeLanguage(language)">
            <option value="en">{{ '_english_' | translate }}</option>
            <option value="fi">{{ '_finnish_' | translate }}</option>
            <option value="se">{{ '_swedish_' | translate }}</option>
            <option value="de">{{ '_german_' | translate }}</option>
          </select>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <form ng-hide="identity.isAuthenticated()" class="navbar-form">
      <div class="form-group">
        <input placeholder="{{ '_email_' | translate }}" ng-model="email" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="password" placeholder="{{ '_password_' | translate }}" ng-model="password" class="form-control"/>
      </div>
      <button ng-click="signin(email, password)" class="btn btn-primary">{{ '_sign_in_' | translate }}</button>
    </form>
  </div>

  <div class="navbar-top">
    <div class="container">
      <ul ng-show="identity.isAuthenticated()">
        <li>{{identity.currentUser.firstName + " " + identity.currentUser.lastName}}</li>
        <li ng-show="identity.currentUser.isAdmin()"><a href="/admin/users">{{ '_user_admin_' | translate }}</a></li>
        <li><a href="/profile">{{ '_profile_' | translate }}</a></li>
        <li><a href="" ng-click="signout()">{{ '_sign_out_' | translate }}</a></li>
        <li>
          <select ng-model="language" ng-change="changeLanguage(language)">
            <option value="en">{{ '_english_' | translate }}</option>
            <option value="fi">{{ '_finnish_' | translate }}</option>
            <option value="se">{{ '_swedish_' | translate }}</option>
            <option value="de">{{ '_german_' | translate }}</option>
          </select>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <a ng-show="identity.isAuthenticated()" class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>

  <div class="navbar-collapse collapse">
      <ul ng-show="identity.isAuthenticated()" active-menu="active" class="nav navbar-nav">
        <li id="home"><a href="/">{{ '_main_' | translate }}</a></li>
        <li id="companies"><a href="/companies">{{ '_companies_' | translate }}</a></li>
        <li id="persons"><a href="/persons">{{ '_persons_' | translate }}</a></li>
        <li id="offices"><a href="/offices">{{ '_offices_' | translate }}</a></li>
      </ul>
  </div>
</div> <!--.navbar-collapse-->
