.navbar-collapse.collapse(ng-controller="crNavBarLoginCtrl")
    ul.nav.navbar-nav(ng-show="identity.isAuthenticated()")
        li#home
            a(href="/", translate='') Home
        li#companies
            a(href="/companies", translate='') Companies
        li#persons
            a(href="/persons", translate='') Persons
        li#offices
            a(href="/offices", translate='') Offices
    .navbar-right
        form.navbar-form(ng-hide="identity.isAuthenticated()")
            ul.nav.navbar-nav
                li
                    a(href="/signup", translate='') Sign up
            .form-group
                input.form-control(placeholder="{{'Email'|translate}}", ng-model="email")
            .form-group
                input.form-control(type="password", placeholder="{{'Password'|translate}}", ng-model="password")
            button.btn.btn-primary(ng-click="signin(email, password)", translate='') Sign in
        ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
            li.dropdown
                a.dropdown-toggle(href="", data-toggle="dropdown")
                    | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                ul.dropdown-menu
                    li(ng-show="identity.currentUser.isAdmin()")
                        a(href="/admin/users", translate='') User Admin
                    li
                        a(href="/profile", translate='') Profile
                    li
                        a(href="", ng-click="signout()", translate='') Sign Out