
<div class="container">
  <div class="well">
    <form name="profileForm" class="form-horizontal">
      <legend translate="">User Profile</legend>
      <div class="form-group required">
        <label for="email" translate="" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
          <input name="email" type="email" disabled="disabled" placeholder="Email" ng-model="email" required="required" class="form-control"/>
        </div>
      </div>
      <div ng-class="{'has-error': (profileForm.fname | shouldDisplayError:profileForm)}" class="form-group required">
        <label for="fname" translate="" class="col-md-2 control-label">First Name</label>
        <div class="col-md-10">
          <input name="fname" type="text" placeholder="First Name" ng-model="fname" required="required" class="form-control"/>
          <p ng-show="profileForm.fname | shouldDisplayError:profileForm" translate="" class="help-block">You first name is required</p>
        </div>
      </div>
      <div ng-class="{'has-error': (profileForm.lname | shouldDisplayError:profileForm)}" class="form-group required">
        <label for="lname" translate="" class="col-md-2 control-label">Last Name</label>
        <div class="col-md-10">
          <input name="lname" type="text" placeholder="Last Name" ng-model="lname" required="required" class="form-control"/>
          <p ng-show="profileForm.lname | shouldDisplayError:profileForm" translate="" class="help-block">You last name is required</p>
        </div>
      </div>
      <div ng-class="{'has-error': (profileForm.password | shouldDisplayError:profileForm)}" class="form-group">
        <label for="password" translate="" class="col-md-2 control-label">New Password</label>
        <div class="col-md-10">
          <input name="password" type="password" placeholder="Password" ng-minlength="4" ng-model="password" class="form-control"/>
          <p ng-show="profileForm.password | shouldDisplayError:profileForm" translate="" class="help-block">Password should have at least 4 characters</p>
        </div>
      </div>
      <div ng-class="{ 'has-error': password !== confirm_password}" class="form-group">
        <label for="confirm_password" translate="" class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
          <input name="confirm_password" type="password" placeholder="Confirm Password" ng-model="confirm_password" class="form-control"/>
          <p ng-show="password !== confirm_password" translate="" class="help-block">Confirmed password has to be same as password</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <div class="pull-right">
            <button ng-click="update()" ng-disabled="profileForm.$invalid || (password!==confirm_password)" translate="" class="btn btn-primary">Submit</button>&nbsp;<a href="/" translate="" class="btn btn-default">Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>