.container
    .well
        form.form-horizontal(name="profileForm")
            legend(translate='') User Profile
            .form-group.required
                label.col-md-2.control-label(for="email", translate='') Email
                .col-md-10
                    input.form-control(name="email", type="email", disabled="disabled", placeholder="Email", ng-model="email", required)

            .form-group.required(ng-class="{'has-error': (profileForm.fname | shouldDisplayError:profileForm)}")
                label.col-md-2.control-label(for="fname", translate='') First Name
                .col-md-10
                    input.form-control(name="fname", type="text", placeholder="First Name", ng-model="fname", required)
                    p.help-block(ng-show='profileForm.fname | shouldDisplayError:profileForm', translate='') You first name is required

            .form-group.required(ng-class="{'has-error': (profileForm.lname | shouldDisplayError:profileForm)}")
                label.col-md-2.control-label(for="lname", translate='') Last Name
                .col-md-10
                    input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="lname", required)
                    p.help-block(ng-show='profileForm.lname | shouldDisplayError:profileForm', translate='') You last name is required

            .form-group(ng-class="{'has-error': (profileForm.password | shouldDisplayError:profileForm)}")
                label.col-md-2.control-label(for="password", translate='') New Password
                .col-md-10
                    input.form-control(name="password", type="password", placeholder="Password", ng-minlength="4", ng-model="password")
                    p.help-block(ng-show='profileForm.password | shouldDisplayError:profileForm', translate='') Password should have at least 4 characters

            .form-group(ng-class="{ 'has-error': password !== confirm_password}")
                label.col-md-2.control-label(for="confirm_password", translate='') Confirm Password
                .col-md-10
                    input.form-control(name="confirm_password", type="password", placeholder="Confirm Password", ng-model="confirm_password")
                    p.help-block(ng-show='password !== confirm_password', translate='') Confirmed password has to be same as password

            .form-group
                .col-md-10.col-md-offset-2
                    .pull-right
                        button.btn.btn-primary(ng-click="update()", ng-disabled="profileForm.$invalid || (password!==confirm_password)", translate='') Submit
                        | &nbsp;
                        a.btn.btn-default(href="/", translate='') Cancel