.container
    .well
        form.form-horizontal(name="signupForm")
            legend(translate='') New User Information
            .form-group.required(ng-class="{'has-error': (signupForm.email | shouldDisplayError:signupForm)}")
                label.col-md-2.control-label(for="email", translate='') Email
                .col-md-10
                    input.form-control(name="email", type="email", placeholder="{{'Email'|translate}}", ng-model="email", required)
                    p.help-block(ng-show='signupForm.email | shouldDisplayError:signupForm', translate='') You should input correct email format

            .form-group.required(ng-class="{'has-error': (signupForm.password | shouldDisplayError:signupForm)}")
                label.col-md-2.control-label(for="password", translate='') Password
                .col-md-10
                    input.form-control(name="password", type="password", placeholder="{{'Password'|translate}}", ng-minlength="4", ng-model="password", required)
                    p.help-block(ng-show='signupForm.password | shouldDisplayError:signupForm', translate='') Password should have at least 4 characters

            .form-group.required(ng-class="{'has-error': (signupForm.fname | shouldDisplayError:signupForm)}")
                label.col-md-2.control-label(for="fname", translate='') First Name
                .col-md-10
                    input.form-control(name="fname", type="text", placeholder="{{'First Name'|translate}}", ng-model="fname", required)
                    p.help-block(ng-show='signupForm.fname | shouldDisplayError:signupForm', translate='') You first name is required

            .form-group.required(ng-class="{'has-error': (signupForm.lname | shouldDisplayError:signupForm)}")
                label.col-md-2.control-label(for="lname", translate='') Last Name
                .col-md-10
                    input.form-control(name="lname", type="text", placeholder="{{'Last Name'|translate}}", ng-model="lname", required)
                    p.help-block(ng-show='signupForm.lname | shouldDisplayError:signupForm', translate='') You last name is required

            .form-group
                .col-md-10.col-md-offset-2
                    .pull-right
                        button.btn.btn-primary(ng-click="signup()", ng-disabled="signupForm.$invalid", translate='') Submit
                        | &nbsp;
                        a.btn.btn-default(href="/", translate='') Cancel