
<div class="container">
  <div class="well">
    <form name="signupForm" class="form-horizontal">
      <legend>{{ '_new_user_information_' | translate }}</legend>
      <div ng-class="{'has-error': (signupForm.email | shouldDisplayError:signupForm)}" class="form-group required">
        <label for="email" class="col-md-2 control-label">{{ '_email_' | translate }}</label>
        <div class="col-md-10">
          <input name="email" type="email" placeholder="{{'_email_' | translate}}" ng-model="email" required="required" class="form-control"/>
          <p ng-show="signupForm.email | shouldDisplayError:signupForm" class="help-block">{{ '_you_should_input_correct_email_format_' | translate }}</p>
        </div>
      </div>
      <div ng-class="{'has-error': (signupForm.password | shouldDisplayError:signupForm)}" class="form-group required">
        <label for="password" class="col-md-2 control-label">{{ '_password_' | translate }}</label>
        <div class="col-md-10">
          <input name="password" type="password" placeholder="{{'_password_' | translate}}" ng-minlength="4" ng-model="password" required="required" class="form-control"/>
          <p ng-show="signupForm.password | shouldDisplayError:signupForm" class="help-block">{{ '_password_should_have_at_least_4_characters_' | translate }}</p>
        </div>
      </div>
      <div ng-class="{'has-error': (signupForm.fname | shouldDisplayError:signupForm)}" class="form-group required">
        <label for="fname" class="col-md-2 control-label">{{ '_first_name_' | translate }}</label>
        <div class="col-md-10">
          <input name="fname" type="text" placeholder="{{'_first_name_' | translate}}" ng-model="fname" required="required" class="form-control"/>
          <p ng-show="signupForm.fname | shouldDisplayError:signupForm" class="help-block">{{ '_first_name_is_required_' | translate }}</p>
        </div>
      </div>
      <div ng-class="{'has-error': (signupForm.lname | shouldDisplayError:signupForm)}" class="form-group required">
        <label for="lname" class="col-md-2 control-label">{{ '_last_name_' | translate }}</label>
        <div class="col-md-10">
          <input name="lname" type="text" placeholder="{{'_last_name_' | translate}}" ng-model="lname" required="required" class="form-control"/>
          <p ng-show="signupForm.lname | shouldDisplayError:signupForm" class="help-block">{{ '_last_name_is_required_' | translate }}</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <div class="pull-right">
            <button ng-click="signup()" ng-disabled="signupForm.$invalid" class="btn btn-primary btn-submit">{{ '_submit_' | translate }}</button>
            <a href="/" translate="" class="btn btn-default">{{ '_cancel_' | translate }}</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>