
<div class="container">
  <div class="well">
    <form name="signupForm" class="form-horizontal">
      <legend translate="">New User Information</legend>
      <div ng-class="{'has-error': (signupForm.email | shouldDisplayError:signupForm)}" class="form-group required">
        <label for="email" translate="" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
          <input name="email" type="email" placeholder="{{'Email'|translate}}" ng-model="email" required="required" class="form-control"/>
          <p ng-show="signupForm.email | shouldDisplayError:signupForm" translate="" class="help-block">You should input correct email format</p>
        </div>
      </div>
      <div ng-class="{'has-error': (signupForm.password | shouldDisplayError:signupForm)}" class="form-group required">
        <label for="password" translate="" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
          <input name="password" type="password" placeholder="{{'Password'|translate}}" ng-minlength="4" ng-model="password" required="required" class="form-control"/>
          <p ng-show="signupForm.password | shouldDisplayError:signupForm" translate="" class="help-block">Password should have at least 4 characters</p>
        </div>
      </div>
      <div ng-class="{'has-error': (signupForm.fname | shouldDisplayError:signupForm)}" class="form-group required">
        <label for="fname" translate="" class="col-md-2 control-label">First Name</label>
        <div class="col-md-10">
          <input name="fname" type="text" placeholder="{{'First Name'|translate}}" ng-model="fname" required="required" class="form-control"/>
          <p ng-show="signupForm.fname | shouldDisplayError:signupForm" translate="" class="help-block">You first name is required</p>
        </div>
      </div>
      <div ng-class="{'has-error': (signupForm.lname | shouldDisplayError:signupForm)}" class="form-group required">
        <label for="lname" translate="" class="col-md-2 control-label">Last Name</label>
        <div class="col-md-10">
          <input name="lname" type="text" placeholder="{{'Last Name'|translate}}" ng-model="lname" required="required" class="form-control"/>
          <p ng-show="signupForm.lname | shouldDisplayError:signupForm" translate="" class="help-block">You last name is required</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <div class="pull-right">
            <button ng-click="signup()" ng-disabled="signupForm.$invalid" translate="" class="btn btn-primary">Submit</button>&nbsp;<a href="/" translate="" class="btn btn-default">Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>