doctype html
html
    head
        title Customer Registry
        //-link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/vendor/select2/select2.css")
        link(rel="stylesheet", href="http://fk.github.io/select2-bootstrap-css/css/select2-bootstrap.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app="app", ng-controller="RootCtrl")
        include currentUser
        block main-content
        include scripts