<div class="frontpage-content" ng-if="!currentUser">
    <div class="container">
      <div class="jumbotron">
        <h1 class="frontpage-title">Kauppias liity mukaan</h1>
        <p>Näin liityt eKukka.fi - hakupalveluun</p>
        <ul class="frontpage-links">
            <li><a href="/signup" translate="">1. Rekisteröidy</a></li>
            <li><a href="">2. TÄYTÄ KAUPAN TIEDOT</a></li>
            <li><a href="">3. Tallenna ja näy</a></li>
        </ul>
        <p>Liittyminen on ilmaista!</p>
      </div>
      <div class="row">
        <h1></h1>
      </div>
    </div>
</div>

<div class="frontpage-content" ng-if="currentUser">
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-xs-8 col-sm-8 col-md-9">
            <p>Näin täytät liikkeesi tiedot ilmaiseen hakupalveluun</p>
            <ul class="content">
                <li>1. Mene toimipiste -sivulle ja paina. <a href="/offices/create" translate="">Lisää uusi toimipiste</a></li>
                <li>2. Täytä yrityksen perustiedot ensimmäiseksi. Yrityksen perustiedot eivät näy hakupalvelussä</li>
                <li>3. Tämän jälkeen täytä toimipisteen tiedot. Nämä tiedot näkyvät hakupalvelussas. Täytä tiedot huolella! <a href='#' data-toggle='modal' data-target='#imagepopupModal'>Katso tästä esimerkki</a></li>
                <li>4. Lopuksi hyväksy ja tallenna</li>
                <li>5. Jos yritykselläsi on useita toimipisteltä, voi lisätä uuden toimipisteen</li>
            </ul>
            <div>Voit muuttaa, tarkastella, täydentää tai poistaa omia tietojasi ekukka.fi -hakupalvelussä miloin vaan. Pidä salasana tallessa ja päivitä tietoja
            säänöllisesti. Ongelmatilanteissa ota yhteyttä: <a href="mailto:info@ekukka.fi">info@ekukka.fi</a></div>
            <div>Kiitos, että käytät eKukka.fi -Kukkien koti hakupalvelua</div>
          </div>
        </div>
      </div>
    </div>

    <div ng-include="'/app/office/image_popup.html'"></div>
</div>