<div class="frontpage-content" ng-if="!currentUser">
    <div class="container">
      <div class="jumbotron">
        <h1 class="frontpage-title">Kauppias liity mukaan</h1>
        <p>Näin liityty eKukka.fi - hakupalveluun</p>
        <ul class="frontpage-links">
            <li><a href="/signup" translate="">1. Register</a></li>
            <li><a href="">2. TÄYTÄ KAUPAN TIEDOT</a></li>
            <li><a href="">3. Tallenna ja näy</a></li>
        </ul>
        <p>Liittyminen on ilmaista!</p>
      </div>
      <div class="row">
        <h1></h1>
      </div>
    </div>
</div>

<div class="frontpage-content" ng-if="currentUser">
    <div class="container">
      <div class="jumbotron">
        <h1 class="frontpage-title">Kauppias liity mukaan</h1>
        <p>Näin liityty eKukka.fi - hakupalveluun</p>
        <ul class="frontpage-links">
            <li><a href="/signup" translate="">1. Step One</a></li>
            <li><a href="">2. Step Two</a></li>
            <li><a href="">3. Step Three</a></li>
        </ul>
        <p>Liittyminen on ilmaista!</p>
      </div>
      <div class="row">
        <h1></h1>
      </div>
    </div>
</div>