section(ng-controller="crCompanyModalCreateCtrl")
    #companyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Add New Person
                .modal-body
                    form.form-horizontal(name="companyForm")
                        fieldset
                            .form-group
                                label.col-md-2.control-label(for="companyname") Company Name
                                .col-md-10
                                    input.form-control(name="companyname", type="text", ng-model="company.name")
                            .form-group
                                label.col-md-2.control-label(for="companycode") Company Type
                                .col-md-5
                                    select.form-control(ng-model="company.type")
                                        option(value='OY') OY
                                        option(value='KY') KY
                                        option(value='AY') AY
                                        option(value='OK') OK
                                        option(value='TN') TN
                                        option(value='KO') KO
                                        option(value='YH') YH
                            .form-group
                                label.col-md-2.control-label(for="companycode") Company Code
                                .col-md-10
                                    input.form-control(name="companycode", type="text", ng-model="company.code")
                            .form-group
                                label.col-md-2.control-label(for="companyphone") Phone
                                .col-md-10
                                    input.form-control(name="companyphone", type="text", ng-model="company.phone")
                            .form-group
                                label.col-md-2.control-label(for="companyaltphone") Alt Phone
                                .col-md-10
                                    input.form-control(name="companyaltphone", type="text", ng-model="company.altphone")
                            .form-group
                                label.col-md-2.control-label(for="companyfax") Fax
                                .col-md-10
                                    input.form-control(name="companyfax", type="text", ng-model="company.fax")
                            .form-group
                                label.col-md-2.control-label(for="companyweb") Web
                                .col-md-10
                                    input.form-control(name="companyweb", type="text", ng-model="company.web")
                            .form-group
                                label.col-md-2.control-label(for="companyemail") Email
                                .col-md-10
                                    input.form-control(name="companyemail", type="text", ng-model="company.email")
                            .form-group
                                label.col-md-2.control-label(for="newsletter") Newsletter
                                .col-md-10
                                    input.form-control(name="newsletter", type="checkbox", ng-model="company.newsletter")
                            .form-group
                                label.col-md-2.control-label(for="number") Number
                                .col-md-10
                                    input.form-control(name="number", type="text", ng-model="company.cnumber")
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button', ng-click="createNewCompany()", data-dismiss='modal') Save
