section(ng-controller="crCompanyCreateCtrl")
    #companyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title(translate='') Add New Company
                .modal-body
                    form.form-horizontal(name="companyForm")
                        .form-group
                            label.col-md-2.control-label(for="companyname", , translate='') Company Name
                            .col-md-10
                                input.form-control(name="companyname", type="text", ng-model="company.name")
                        .form-group
                            label.col-md-2.control-label(for="companycode", translate='') Company Type
                            .col-md-5
                                select.form-control(ng-model="company.type")
                                    option(value='TMI', translate='') TMI
                                    option(value='KY', translate='') KY
                                    option(value='AY', translate='') AY
                                    option(value='OY', translate='') OY
                                    option(value='Osuuskunta', translate='') Osuuskunta
                                    option(value='Oppilaitos', translate='') Oppilaitos
                                    option(value='Muu', translate='') Muu
                        .form-group
                            label.col-md-2.control-label(for="companycode", translate='') Company Code
                            .col-md-10
                                input.form-control(name="companycode", type="text", ng-model="company.code")
                        .form-group
                            label.col-md-2.control-label(for="companystreet", translate='') Street
                            .col-md-10
                                input.form-control(name="companystreet", type="text", ng-model="company.street")
                        .form-group
                            label.col-md-2.control-label(for="companycity", translate='') City
                            .col-md-10
                                input.form-control(name="companycity", type="text", ng-model="company.city")
                        .form-group
                            label.col-md-2.control-label(for="companyzip", translate='') Zip
                            .col-md-10
                                input.form-control(name="companyzip", type="text", ng-model="company.zip")
                        .form-group
                            label.col-md-2.control-label(for="companyphone", translate='') Phone
                            .col-md-10
                                input.form-control(name="companyphone", type="text", ng-model="company.phone")
                        .form-group
                            label.col-md-2.control-label(for="companyemail", translate='') Email
                            .col-md-10
                                input.form-control(name="companyemail", type="text", ng-model="company.email")
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal', translate='') Close
                    button.btn.btn-primary(type='button', ng-click="create(true)", data-dismiss='modal', translate='') Save
